/* @media (prefers-color-scheme: dark) {
  body {
    filter: invert(90%) hue-rotate(25deg);
    background-color: #333;
  }
} */

:root {
  color-scheme: dark light;
}

body {
  font-family: sans-serif;
  font-size: 14pt;
  line-height: 1.5;
}

article {
  width: 960px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
}

li img {
  vertical-align: middle;
}

.sans-serif {
  font-family: sans-serif;
}

.serif {
  font-family: serif;
}
