:root {
  color-scheme: light dark;

  --font-family-sans-serif: sans-serif;
  --font-family-serif: serif;
  --font-family-monospace: monospace;
}

body {
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  line-height: 1.5;

  background-color: Canvas;
  color: CanvasText;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-sans-serif);
}

article {
  width: 960px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
}

tt,
code,
kbd,
samp,
pre,
xmp,
plaintext,
listing {
  font-family: var(--font-family-monospace);
}

li img {
  vertical-align: middle;
}

.sans-serif {
  font-family: var(--font-family-sans-serif);
}

.serif {
  font-family: var(--font-family-serif);
}