# macOS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100/
.Trashes/
Icon?

# VS Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# VS Code history
.history/

# VS Code bundles
*.vsix
