/* ==UserStyle==
@name modify-font
@namespace vicchow
@version 65.4.3
==/UserStyle== */

/*
 * Version number convention: <major>.<minor>.<patch>
 * <major>: add or remove section
 * <minor>: add or remove statement/rule
 * <patch>: update selector or declaration of statement/rule
 */

/* Web fonts */
@import url("//rsms.me/inter/inter.css");
@import url("//fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("//fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap");

@import url('//fonts.googleapis.com/css2?family=Google+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("//fonts.googleapis.com/css2?family=Google+Sans+Text:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Amazon */
@-moz-document domain("www.amazon.com"), domain("www.amazon.de"), domain("www.amazon.co.uk"), domain("awscli.amazonaws.com"), domain("console.aws.amazon.com") {

  * {
    font-family: "Amazon Ember", var(--font-family-sans-serif);
  }

  .bucket h2,
  .cdInlineAskBoxTitle,
  .cdQuestionAnswerHeader,
  .merchbarW .shoveler-header,
  .merchbarW a,
  .merchbarW span,
  .pa_componentTitleTest h2,
  .price,
  #AUI_A9AdsMiddleBoxTop h2,
  #customer-reviews_feature_div h2,
  #customerReviewsHeader,
  #detailpage-click2call-header,
  #hmdFormDiv h2,
  #need-help-deciding .secHeader,
  #pf-fitment-wrapper h2,
  #prodDetails .wrapper,
  #prodDetails td,
  #reviewBucketHeader,
  #revMHLContainer h2,
  #rhfMainHeading,
  #sponsored-products-dp_feature_div h2,
  h2.amtcmp,
  h2.featureHeading {
    font-family: "Amazon Ember", var(--font-family-sans-serif);
  }

  #navbar.nav-bluebeacon #nav-xshop #nav-pldn-org-name {
    height: 14px;
  }

  div.body h1,
  div.body h2,
  div.body h3,
  div.body h4,
  div.body h5,
  div.body h6 {
    font-family: var(--font-family-sans-serif);
  }

}

/* Apple */
@-moz-document domain("www.apple.com"), domain("support.apple.com") {

  /* Safari only */
  /* From https://browserstrangeness.bitbucket.io/css_hacks.html */
  @supports (-webkit-hyphens: none) {
    .globalnav-link-text-container svg {
      font-size: 72px;
    }
  }

}

/* ASUS router */
@-moz-document domain("asuscomm.com"), domain("asusrt.home.arpa") {

  body {
    font-family: var(--font-family-sans-serif) !important;
  }

  .button_gen,
  .clients span,
  .clients,
  .copyright,
  .devicepin,
  .formfontcontent,
  .formfonttitle,
  .FormTable th,
  .FormTable thead td,
  .FormTable_NWM,
  .FormTable_NWM th,
  .FormTable_table th,
  .FormTable_table thead td,
  .index_status,
  .menu_Desc,
  .modelName_top,
  .navigation li dt,
  .statusTitle #helpname,
  .tableApi_table thead td,
  .titlebtn span,
  .usb_text,
  #tabs a,
  [class^="menu"],
  * {
    font-family: var(--font-family-sans-serif);
    font-weight: normal;
    text-shadow: none;
  }

  .titledown span,
  #ddnsHostName_div span,
  #NM_connect_title,
  #wanIP_div span,
  #wlSecurityContext span {
    font-family: var(--font-family-sans-serif) !important;
  }

}

/* Bing */
@-moz-document domain("bing.com") {

  .activityContent-317,
  .b_searchboxForm,
  .content-305,
  .location-314,
  .ms-modal,
  .openedContent-315,
  .ownerContent-316,
  .pb-title-nav-strip__nav-link,
  button,
  h1,
  h2,
  h3,
  html .hp_body #sw_as .sa_as #sa_ul .sa_tm,
  html .hp_body #sw_as .sa_as #sa_ul .sa_tmHS {
    font-family: "Segoe UI", system-ui, Roboto, Arial, Helvetica, sans-serif;
  }

  .b_no h4,
  .b_underSearchbox,
  #b_header,
  body,
  h2 .b_alert,
  h2 .b_secondaryText {
    font: 14px/normal "Segoe UI", system-ui, Roboto, Arial, Helvetica, sans-serif;
  }

  html .hp_body #sw_as #sa_ul,
  html .hp_body #sw_as .pp_title {
    font: 16px/normal "Segoe UI", system-ui, Roboto, Arial, Helvetica, sans-serif;
  }

  #sa_ul, .pp_title {
    font: 16px/normal "Segoe UI", system-ui, Roboto, Arial, Helvetica, sans-serif;
  }

  .fui-FluentProviderr0 {
    --fontFamilyBase: "Segoe UI", system-ui, Roboto, Arial, Helvetica, sans-serif;
  }

}

/* Google */
@-moz-document domain("accounts.google.com"), domain("calendar.google.com"), domain("contacts.google.com"), domain("drive.google.com"), domain("mail.google.com"), domain("myaccount.google.com"), domain("myactivity.google.com"), domain("photos.google.com"), domain("play.google.com"), domain("translate.google.com"), domain("www.google.com"), domain("www.google.com.hk") {

  .agJ.aFB .agM,
  .agJ.aFB,
  .agOyMd div.AzuXid,
  .agP.aFB,
  .agP.aFw,
  .agP.aFx,
  .aIa.aFB,
  .aIa.aFw,
  .aIa.aFx,
  .aJPqP .cGRe9e,
  .aL8,
  .ApHyTb,
  .apZEne,
  .aqe,
  .ARSUIf,
  .asor_b,
  .asor_c,
  .aVve2e,
  .AxOyFc,
  .aXS,
  .AyOtW .yfAllc,
  .bButFf,
  .BrvAFe,
  .bSz6zd,
  .CF94Hd,
  .CFH2De,
  .cfWmIb .VfPpkd-fmcmS-wGMbrd,
  .cHQvTb,
  .CJxxTe,
  .cPrmpd,
  .CQYfx,
  .cs3SAb,
  .cS4Vcb-pGL6qe-ysgGef,
  .cuFkEd,
  .Dffq3b,
  .dFINPc,
  .dG2XIf,
  .DIfNZc,
  .DPNIGe,
  .EI48Lc,
  .eizQhe-ObfsIf-r4nke,
  .eizQhe-ObfsIf-r4nke,
  .emcav .YacQv,
  .emcav textarea.gLFyf,
  .eoY5cb,
  .ex6r4d,
  .f3LoEf,
  .fC7rrc .nhb85d .tactile-searchbox-input,
  .fjSJOb input.Ax4B8,
  .fjSJOb input.yNVtPc,
  .FkWMmd,
  .Fl2iee,
  .FNMYpd .CVouqc,
  .fontBodyLarge,
  .fontBodyMedium,
  .fontBodySmall,
  .fontLabelMedium,
  .FtYymb,
  .fYwTV,
  .gAl3jd,
  .gb_0b,
  .GB6BTc,
  .gJkaS,
  .gklRpc,
  .gLFyf,
  .GmiStb,
  .gsfi,
  .gSseUb,
  .gtjro,
  .h,
  .hcClrf,
  .HeEoJc,
  .HeJadd,
  .HiceN,
  .HrGXnb,
  .I4p4db.nhiZfc,
  .iDlTsc,
  .IFnjPb,
  .IGdgBf,
  .imso-medium-font,
  .imso-regular-font,
  .Ioup7e,
  .iph-dialog button,
  .iSSROb,
  .IVvPP .WY0eLb .XaIwc,
  .iXlbzd .JcDdO,
  .Izbc5,
  .j9SSAf,
  .JEx5le div.AzuXid,
  .JhVSze,
  .jpwZee,
  .JRRmBc,
  .juCwOd,
  .JWyTcc,
  .jY85Zb,
  .kPOohe-wZVHld-nUpftc-haAclf,
  .kqEaA,
  .L0L2wd,
  .L5KuY,
  .lcCric,
  .lJ9FBc input[type],
  .LLotyc,
  .LzExud,
  .M2qv4b,
  .MBeuO,
  .Me6kjf,
  .mfsgsd,
  .MGp9Hd,
  .mus_tt8,
  .N1ejpf,
  .N3Hzgf .AxOyFc,
  .n3qw7,
  .N8MDs,
  .ncyY9,
  .NQ9Zpd,
  .NqLrnb,
  .NUnG9d,
  .nZC2Ae,
  .obNJBf,
  .oKubKe,
  .OOiKUe,
  .oRRgMc,
  .Ose4Jf,
  .Ou5fBb,
  .Ov6iee,
  .OXlB7d,
  .Oxnkef,
  .P0eWkf,
  .p4wth,
  .P6eHt,
  .p6iile,
  .paD5uf,
  .PbnGhe,
  .pdqVLc .AzuXid,
  .pdqVLc .toUqff,
  .pe7FNb,
  .pGOlGd .ndfHFb-rBfmuc-E2o6qc-V67aGc,
  .PhI6he,
  .Pqkn2e,
  .pqSmA,
  .qNFqIb,
  .QOd5jd,
  .qx9Fae .kkUTBb,
  .QXzCSe,
  .R9U8ab,
  .rlnPIf,
  .Rq5Gcb,
  .rvEjke,
  .rXSH9b,
  .s49Hac,
  .s8kOBc,
  .SiEggd,
  .sjVJQd,
  .sSHqwe,
  .SW5pqf,
  .t7Thuc,
  .tdMWuf,
  .TFC9me .ESCxub,
  .TgAkmb,
  .tHVeec,
  .tNxQIb,
  .tsp-osbsm,
  .tsp-sc,
  .tsp-stm,
  .tsp-stsm,
  .TTlRAe .MrqLTc,
  .TYKfpe .IGdgBf,
  .u4frDf,
  .UKzvpf .ASWyTc,
  .UKzvpf .YvjW7c,
  .uqcjDb,
  .USSdsd,
  .UUbT9 b,
  .Uzx4se,
  .V7i3mf .r6B9Fd .VfPpkd-rymPhb-fpDzbe-fmcmS,
  .V7i3mf .ReCbLb .VfPpkd-uusGie-fmcmS,
  .VfPpkd-gIZMF,
  .VfPpkd-NLUYnc-V67aGc,
  .VfPpkd-rymPhb-fpDzbe-fmcmS,
  .VfPpkd-StrnGf-rymPhb-L8ivfd-fmcmS,
  .VfPpkd-uusGie-fmcmS,
  .vlYdle,
  .VOEIyf .jBmls,
  .VOEIyf,
  .VwiC3b,
  .VXO03d,
  .w9XJYd.nhiZfc,
  .weSwo,
  .whsOnd,
  .wHYlTd,
  .wiOkb,
  .WmeFlc,
  .WmnPA .VfPpkd-fmcmS-wGMbrd,
  .WmnPA .VfPpkd-NLUYnc-V67aGc,
  .wnUCCf,
  .wR7plc,
  .WX1mVe,
  .wx62f,
  .xA0gfb,
  .xePSib,
  .YacQv,
  .yGdMVd .wx62f,
  .YrbPuc,
  .yUTMj,
  .Z5bgrc,
  .ZEmz6b,
  .zIamNc,
  .zsRT0d,
  .ZwRhJd,
  .ZyhgJf,
  [class^="clm-ob-"],
  [class^="liveresults-"],
  *,
  a,
  body,
  button,
  div.p4wth,
  h1,
  html,
  input,
  input.gLFyf,
  p,
  td,
  textarea.gLFyf {
    font-family: "Google Sans Text", var(--font-family-sans-serif);
    --mat-menu-item-label-text-font: "Google Sans Text", var(--font-family-sans-serif);
  }

  .gmat-body-2 {
    font-family: "Google Sans Text", var(--font-family-sans-serif);
  }

  .google-material-icons * {
    font-family: "Google Material Icons";
  }

  .s75CSd {
    font-size: 14px;
  }

}

/* Google Workspaces */
@-moz-document domain("admin.google.com") {

  :not(.material-icons-extended),
  :not(.google-material-icons),
  .AjwuVe,
  .b3-form-header .b3-form-title-content,
  .c6Hazb .SdI8Hc,
  .dIg4sc,
  .EdyHme .SClbdf,
  .Hf7K9,
  .hUZIKf,
  .IepzPb,
  .jl3uAb,
  .JoUHxb,
  .l10RZe,
  .NJVBPe,
  .PJ3P5d,
  .rCwUBf .Iwpfmb,
  .RJLumf .H72fcf,
  .RJLumf .snByac,
  .Rx41nc,
  .ssKrAd,
  .u1mMPe,
  .UXuBne,
  .whsOnd,
  .xY8Aqb,
  body {
    font-family: "Google Sans Text", var(--font-family-sans-serif);
  }

  .DPvwYc {
    font-family: "Material Icons Extended" !important;
  }

}

/* Google Docs */
@-moz-document domain("docs.google.com") {

  .bSz6zd,
  .CcGgbd,
  .EeNpqb,
  .eizQhe-ObfsIf-r4nke,
  .fjSJOb input.Ax4B8,
  .fjSJOb input.yNVtPc,
  .iXlbzd,
  .JcDdO,
  .ZxXaId {
    font-family: "Google Sans Text", var(--font-family-sans-serif);
  }

  body {
    font-family: "Google Sans Text", var(--font-family-sans-serif) !important;
  }

}

/* IEEE */
@-moz-document domain("ieee.org") {

  .rsp h1,
  .rsp h3,
  #meta-nav,
  body,
  html {
    font-family: var(--font-family-sans-serif);
  }

}

/* Infor */
@-moz-document domain("docs.infor.com") {

  html body {
    font-family: var(--font-family-sans-serif);
  }

}

/* KKBox */
@-moz-document domain("kkbox.com") {

  body,
  button,
  input,
  select,
  textarea {
    font-family: var(--font-family-sans-serif) !important;
  }

}

/* Leanpub */
@-moz-document domain("leanpub.com") {

  .about-book__copy,
  .about-bundle__blurb,
  .book-hero__blurb,
  .bundle-hero__titles a,
  .featured-book-tagline,
  .lane-item__author_blurb,
  .lane-item__blurb,
  .profile__blurb,
  .toc,
  #leanpub-toc {
    font-family: var(--font-family-serif);
  }

}

/* LIHKG */
@-moz-document domain("lihkg.com") {

  body {
    font-family: var(--font-family-sans-serif);
  }

}

/* Microsoft */
@-moz-document domain("www.microsoft.com") {

  .mectrl_topHeader .mectrl_header_text,
  .mectrl_root,
  .mectrl_root div,
  .mectrl_resetStyle,
  a.mectrl_resetStyle,
  button.mectrl_resetStyle {
    font-family: "SegoeUI", "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans",
      "S60 Sans", Arial, sans-serif;
  }

}

@-moz-document domain("login.microsoft.com") {

  body {
    font-family: var(--font-family-sans-serif);
  }

}

/* NVIDIA */
@-moz-document url-prefix("https://docs.nvidia.com/jetson/l4t/"), url-prefix("https://docs.nvidia.com/ngc/ngc-ready-systems/") {

  .ww_skin_toc_entry,
  abbreviation.Strong a,
  abbreviation.Strong a:active,
  abbreviation.Strong,
  acronym.Strong a,
  acronym.Strong a:active,
  acronym.Strong,
  body,
  caption.Body_Text,
  caption.Cell_Heading,
  caption.Cell_Text,
  caption.Heading_1,
  caption.Heading_2,
  caption.Heading_5,
  caption.List_Bullet,
  caption.List_Continue,
  citation.Strong a,
  citation.Strong a:active,
  citation.Strong,
  div.Body_Text,
  div.Cell_Heading,
  div.Cell_Text,
  div.Heading_1,
  div.Heading_2,
  div.Heading_5,
  div.List_Bullet,
  div.List_Continue,
  div.WebWorks_MiniTOC,
  h1.Heading_1,
  h2.Heading_2,
  html,
  span.Strong a,
  span.Strong a:active,
  span.Strong {
    font-family: var(--font-family-sans-serif);
  }

}

/* OpenSearch */
@-moz-document domain("opensearch.org") {

  body {
    font-family: var(--font-family-serif);
  }

}

/* O'Reilly Learning */
@-moz-document domain("learning.oreilly.com") {

  #book-content #sbo-rt-content .blockquote p,
  #book-content #sbo-rt-content .box_title,
  #book-content #sbo-rt-content .calibre4,
  #book-content #sbo-rt-content .cn-chapter-number,
  #book-content #sbo-rt-content .indent,
  #book-content #sbo-rt-content .noindent,
  #book-content #sbo-rt-content .note p,
  #book-content #sbo-rt-content .packt_para,
  #book-content #sbo-rt-content .paragraph-head,
  #book-content #sbo-rt-content a,
  #book-content #sbo-rt-content a:link,
  #book-content #sbo-rt-content a:visited,
  #book-content #sbo-rt-content blockquote p,
  #book-content #sbo-rt-content blockquote,
  #book-content #sbo-rt-content div,
  #book-content #sbo-rt-content dt,
  #book-content #sbo-rt-content li,
  #book-content #sbo-rt-content ol li p,
  #book-content #sbo-rt-content ol li,
  #book-content #sbo-rt-content p,
  #book-content #sbo-rt-content table p,
  #book-content #sbo-rt-content table tr td,
  #book-content #sbo-rt-content ul li p,
  #book-content #sbo-rt-content ul li,
  #book-content #sbo-rt-content,
  #sbo-reader .sbo-reader-content,
  #sbo-rt-content {
    font-family: var(--font-family-serif) !important;
    font-weight: normal !important;
  }

  #book-content #sbo-rt-content .chapterNumber,
  #book-content #sbo-rt-content .chaptertitle,
  #book-content #sbo-rt-content .chapterTitle,
  #book-content #sbo-rt-content .fm_title_document,
  #book-content #sbo-rt-content .heading-1,
  #book-content #sbo-rt-content .heading-3,
  #book-content #sbo-rt-content .title_document,
  #book-content #sbo-rt-content h1,
  #book-content #sbo-rt-content h2,
  #book-content #sbo-rt-content h3,
  #book-content #sbo-rt-content h4,
  #book-content #sbo-rt-content h5,
  #book-content #sbo-rt-content h6 {
    font-family: "Guardian Sans Text", var(--font-family-sans-serif) !important;
    font-weight: normal !important;
  }

  #book-content #sbo-rt-content .boxg p,
  #book-content #sbo-rt-content .note p,
  #book-content #sbo-rt-content .note1 p,
  #book-content #sbo-rt-content .sidebar1 p,
  #book-content #sbo-rt-content .tip p,
  #book-content #sbo-rt-content .warning p,
  #book-content #sbo-rt-content div.note p,
  #book-content #sbo-rt-content div.sidebar p,
  #book-content #sbo-rt-content div.tip p,
  #book-content #sbo-rt-content div.warning p {
    font-family: var(--font-family-sans-serif) !important;
  }

  #sbo-rt-content .packt_action,
  #sbo-rt-content kbd {
    font-size: 1em !important;
  }

  #book-content #sbo-rt-content .pre_w,
  #book-content #sbo-rt-content .pre-ex,
  #book-content #sbo-rt-content .pre,
  #book-content #sbo-rt-content .pre1,
  #book-content #sbo-rt-content p.pre,
  #book-content #sbo-rt-content pre {
    font-family: var(--font-family-monospace) !important;
    font-weight: normal !important;
  }

  [class^="VideoContent-title"] {
    font-family: inherit !important;
  }

  .content-VideoContent>.content-VideoContent-title {
    font-family: inherit !important;
    font-weight: 500;
  }

}

/* Patreon */
@-moz-document domain("patreon.com") {

  @media (min-width: 36.75rem) {

    :root,
    .hqIYWd {
      --global-fontWeights-body-default: 400;
    }

  }

}

/* Pinboard */
@-moz-document domain("pinboard.in") {

  textarea {
    font-size: 12px;
  }

}

/* PTT */
@-moz-document url-prefix("https://www.ptt.cc/bbs") {

  .bbs-content {
    font-family: var(--font-family-monospace);
    line-height: 150%;
    width: 95%;
  }

}

/* Python */
@-moz-document domain("www.pypa.io"), domain("docs.python.org"), domain("packaging.python.org") {

  body,
  div.body h1,
  div.body h2,
  div.body h3,
  div.body h4,
  div.body h5,
  div.body h6,
  div.sphinxsidebar h3,
  div.sphinxsidebar input,
  form.inline-search input {
    font-family: var(--font-family-sans-serif);
  }

}

/* Quartz */
@-moz-document domain("qz.com") {

  .cYEEMy .sc-14wnao6-0 .sc-1ltrdwy-0,
  .cYyCmI,
  .fQtbXI,
  .gZhYIk,
  .hKyVvC[class^="sc"],
  .hKyVvC p,
  .hKyVvC ul,
  .iLRVSO[class^="sc"],
  .iLRVSO p,
  .iLRVSO ul,
  .ivuIYs,
  .kodNAQ,
  .kpCBfs p {
    font-family: var(--font-family-serif);
  }

  .AVNwg,
  .bUfLwJ,
  .cKJgXr,
  .cniLUA,
  .cYOzem[class^="sc"],
  .djsdWN,
  .dxjlEo,
  .eJfuia p,
  .eJfuia ul,
  .eJfuia[class^="sc"],
  .fAGGUj,
  .fbSaxz,
  .fCEKlY,
  .fgKDuz .sc-peggds-2 .sc-peggds-1,
  .fgKDuz[class^="sc"],
  .gGXWzB,
  .gLhRST,
  .hHUrUU,
  .hzsltP,
  .iktnYz,
  .iVjjgT,
  .KimBL,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-sans-serif);
  }

  body,
  button {
    font-family: var(--font-family-sans-serif) !important;
  }

}

/* Rakuten Kobo */
@-moz-document domain("kobo.com") {

  .AccountSettingsWidget,
  .billing-address-display .no-billing-address-container .message-content .no-billing-address-add-button-container .no-billing-address-add-button,
  .BookItemDetailSecondaryMetadataWidget,
  .carousel-treatment .book-details .price,
  .carousel-treatment .book-details,
  .carousel-treatment .carousel-header .view-all-link,
  .carousel-treatment .cta-container a,
  .carousel-treatment .cta-container button,
  .cart-content .cart-tally,
  .cart-content .summary-bar .gizmo-pricesummary ul li span,
  .cart-content .summary-bar .gizmo-pricesummary ul li span:first-child,
  .cart-item-card .cart-item .cart-item-content .cart-item-details .cart-item-metadata .cart-item-subtitle .subtitle-text,
  .cart-item-card .cart-item .cart-item-content .cart-item-details .cart-item-purchase-details .price,
  .cart-item-card .cart-item .cart-item-content .cart-item-extras .cart-item-actions .secondary-link,
  .facet-list-container .facet-list,
  .groupLinkWidget .groupLinkFooter a,
  .HeaderTopCategories .viewAllCategories,
  .item-primary-metadata .category-rankings,
  .item-primary-metadata .item-info .author,
  .item-primary-metadata .item-info .series,
  .item-primary-metadata .item-info .subtitle,
  .item-primary-metadata .item-info .title,
  .item-synopsis .synopsis-title,
  .kobo-footer .primary-footer .toggle,
  .kobo-footer .primary-footer h3,
  .kobo-footer a,
  .landing-page-header,
  .payment-methods-display .no-payment-methods-container .message-content .no-payment-methods-add-button-container .no-payment-methods-add-button,
  .pricing-details .library-action:first-of-type,
  .pricing-details .library-action:nth-of-type(n + 2),
  .pricing-details .pricing-details-magazine,
  .pricing-details .pricing-figures,
  .pricing-details .pricing-title,
  .pricing-details .purchase-action:first-of-type,
  .pricing-details .purchase-action:nth-of-type(n + 2),
  .pricing-details .subscription-action:first-of-type,
  .pricing-details .subscription-action:nth-of-type(n + 2),
  .primary-action,
  .primary-button,
  .primary-button,
  .primary-heading,
  .product-features li,
  .ratings-and-reviews .button,
  .ratings-and-reviews .header,
  .ratings-and-reviews .rating-histogram-wrapper,
  .ratings-and-reviews .rating-review-summary-header .overall-rating-container,
  .ratings-and-reviews .ratings-dropdown .dropdown-toggle,
  .ratings-and-reviews .review-helpful,
  .ratings-and-reviews .review-listing-header,
  .ratings-and-reviews .review-title,
  .ratings-and-reviews,
  .rich-header-language-selector,
  .search-bar-wrap ul.search-autocomplete li.header,
  .search-bar-wrap ul.search-autocomplete li.more-in a,
  .search-results-display .issue-number,
  .search-results-display .item-info .contributor-list,
  .search-results-display .item-info .duration,
  .search-results-display .item-info .is-abridged,
  .search-results-display .item-info .publication-date,
  .search-results-display .item-info .publisher,
  .search-results-display .item-info .series,
  .search-results-display .item-wrapper .price,
  .search-results-display .pagination .pagination-container,
  .search-results-display .secondary-field,
  .search-results-display .subtitle,
  .ShoppingCartWidget .cart-content .inner-cart.isRecommendations .cart-recommendations li button.outline-button,
  .SpotlightWidget .SpotlightWidgetV2 .teaser a,
  .subscriptions-manage .title,
  .wishlist-page .wishlist-header .title,
  #about-this-book-widget .book-stats .stat-desc span,
  #about-this-book-widget .book-stats .stat-desc strong,
  #kwp-SEO-LP-textBlock h2,
  #kwp-SEO-LP-textBlock h3,
  #top-banner-slim,
  a.primary-button,
  body,
  input[type="button"].primary-button,
  input[type="submit"].primary-button,
  span.primary-button {
    font-family: "Rakuten Sans UI", "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;
  }

  .item-synopsis .synopsis-description,
  .kobo input:not([type]),
  .kobo input[type="date"],
  .kobo input[type="email"],
  .kobo input[type="number"],
  .kobo input[type="password"],
  .kobo input[type="search"],
  .kobo input[type="tel"],
  .kobo input[type="text"],
  .kobo input[type="url"],
  .ratings-and-reviews .rating-review-summary-header .write-review-container .title,
  .ratings-and-reviews .review-helpful .helpful-statement,
  .ratings-and-reviews .review-item,
  .search-bar-wrap ul.search-autocomplete li.result a .ellipsis-100,
  .search-results-display .item-info .synopsis,
  .SpotlightWidget .SpotlightWidgetV2 .spotlight-content .description-column .item-details-wrapper .synopsis,
  .subscriptions-manage .subscription-item-header .message,
  .wishlist-page .wishlist-item .synopsis-field,
  #kwp-SEO-LP-textBlock p {
    font-family: "Rakuten Serif", Georgia, Times, times, serif;
  }

}

/* Sensibo */
@-moz-document domain("home.sensibo.com") {

  body,
  div {
    font-family: var(--font-family-sans-serif);
  }

}

/* Stack Exchange */
@-moz-document domain("stackoverflow.com"), domain("superuser.com"), domain("serverfault.com"), domain("stackexchange.com") {

  .comment-copy,
  .comment-copy,
  .excerpt,
  .module .answer-hyperlink,
  .module a,
  .module question-hyperlink,
  .post-text,
  .question-status,
  .question-status,
  .question-summary .question-hyperlink,
  .s-prose,
  .topbar-dialog,
  .wmd-preview,
  #question-header .question-hyperlink,
  body,
  html {
    font-family: var(--font-family-sans-serif) !important;
  }

  code {
    font-family: var(--font-family-monospace);
  }

}

/* SCB */
@-moz-document domain("ibank.standardchartered.com.hk"), domain("retail.sc.com") {

  a,
  acronym,
  body,
  button,
  code,
  div,
  form,
  hr,
  html,
  img,
  input,
  label,
  p,
  pre,
  select,
  span,
  strong,
  table,
  td,
  textarea,
  th,
  tr {
    font-family: var(--font-family-sans-serif);
  }

  .tbl_layout {
    margin: 0 auto;
  }

  .tbl_content_left,
  .tbl_content_middle,
  .tbl_content_right,
  .tbl_listing th,
  .tbl_paging td {
    padding: 5px;
  }

  .tbl_header_left div.border_left_grey,
  .tbl_header_right div.border_right_grey {
    background-image: none;
  }

  .tbl_content_right {
    font-variant-numeric: tabular-nums;
  }

}

/* Stanford Encyclopedia of Philosophy */
@-moz-document domain("plato.stanford.edu") {

  body {
    line-height: 1.8em;
  }

}

/* Steam */
@-moz-document domain("steamcommunity.com"), domain("steampowered.com") {

  .apphub_CardContentDiscussionTitle,
  .community_home_subtitle,
  .dynamiclink_box,
  .early_access_review,
  .group_overview_announcement .large_title,
  .slideshow_item_title,
  .workshopItemTitle,
  body,
  body.v6,
  textarea {
    font-family: "Motiva Sans", var(--font-family-sans-serif);
  }

}

/* Telegram */
@-moz-document domain("telegram.org") {

  body {
    font-family: var(--font-family-sans-serif);
  }

}

/* TMTP */
@-moz-document domain("www.tmtp.com.hk") {

  body {
    font-family: var(--font-family-sans-serif);
  }

}

/* Wikia */
@-moz-document domain("wikia.com") {

  body {
    font-family: var(--font-family-sans-serif);
  }

}

/* YouTube */
@-moz-document domain("youtube.com") {

  .button[class$="-expander"],
  .factoid-label[class$="-renderer"],
  .factoid-value[class$="-renderer"],
  .flex-column[class$="-renderer"],
  .grid-movie-renderer-metadata[class$="-renderer"],
  .less-button.ytd-comment-view-model,
  .less-button[class$="-renderer"],
  .miniplayer-title.ytd-miniplayer,
  .more-button.ytd-comment-view-model,
  .more-button[class$="-renderer"],
  .product-item-description[class$="-renderer"],
  .product-item-price[class$="-renderer"],
  .product-item-title[class$="-renderer"],
  .promo-body-text[class$="-renderer"],
  .promo-title[class$="-renderer"],
  .secondary-flex-columns[class$="-renderer"],
  .subheadline[class$="-renderer"],
  .subtitle[class$="-renderer"],
  .text[class$="-renderer"],
  .title[class$="-renderer"],
  .yt-channel-external-link-view-model-wiz__title--title-small-font,
  .yt-channel-external-link-view-model-wiz__title,
  .yt-content-metadata-view-model-wiz__metadata-text,
  .yt-content-metadata-view-model-wiz--medium-text .yt-content-metadata-view-model-wiz__metadata-text,
  .yt-tab-shape-wiz__tab,
  .yt-video-attribute-view-model__subtitle,
  .yt-video-attribute-view-model__title,
  .ytCarouselTitleViewModelTitle,
  .YtCarouselTitleViewModelTitle,
  .ytChipShapeChip,
  .YtChipShapeChip,
  .ytTextCarouselItemViewModelText,
  .YtTextCarouselItemViewModelText,
  *,
  #aside-text[class$="-renderer"],
  #bio[class$="-renderer"],
  #byline[class$="-renderer"],
  #channel-handle[class$="-renderer"],
  #channel-title[class$="-renderer"],
  #content-text[class$="-renderer"],
  #content[class$="-renderer"],
  #contextual-info[class$="-renderer"],
  #corrected.yt-search-query-correction,
  #description-text[class$="-renderer"],
  #description[class$="-renderer"],
  #guide-section-title[class$="-renderer"],
  #item-title[class$="-renderer"],
  #label[class$="-renderer"],
  #labelAndInputContainer.tp-yt-paper-input-container>.paper-input-label,
  #labelAndInputContainer.tp-yt-paper-input-container>label,
  #message[class$="-renderer"],
  #modern-card-owner-name.ytd-miniplayer,
  #modern-owner-name.ytd-miniplayer,
  #name[class$="-renderer"],
  #next-label[class$="-renderer"],
  #original.yt-search-query-correction,
  #owner-name.ytd-miniplayer,
  #placeholder.ytmusic-search-box,
  #primary-links[class$="-renderer"],
  #search-input.ytd-searchbox-spt input,
  #simplebox-placeholder[class$="-renderer"],
  #sub-header-text[class$="-renderer"],
  #sub-title[class$="-renderer"],
  #submessage[class$="-renderer"],
  #subscriber-count[class$="-renderer"],
  #subtitle[class$="-renderer"],
  #text[class$="-renderer"],
  #thumbnail-attribution[class$="-renderer"],
  #time[class$="-renderer"],
  #title[class$="-renderer"],
  #video-count-text[class$="-renderer"],
  #video-title[class$="-media"],
  #video-title[class$="-renderer"],
  div#label.style-scope[class$="-renderer"],
  html tp-yt-paper-tooltip .tp-yt-paper-tooltip[style-target="tooltip"],
  html,
  input.ytmusic-search-box,
  p[class$="-renderer"],
  td[class$="-renderer"],
  tp-yt-paper-button,
  tp-yt-paper-tooltip .tp-yt-paper-tooltip[style-target="tooltip"],
  yt-formatted-string[class$="-renderer"],
  yt-formatted-string[class$="-renderer"][secondary],
  ytd-active-account-header-renderer:not([enable-handles-account-menu-switcher]) #account-name[class$="-renderer"],
  ytd-active-account-header-renderer[enable-handles-account-menu-switcher] #account-name[class$="-renderer"],
  ytd-background-promo-renderer[renderer-style="adaptive-full-height"] .promo-body-text.ytd-background-promo-renderer:not([hidden])[class$="-renderer"],
  ytd-background-promo-renderer[renderer-style="adaptive-full-height"] .promo-title.ytd-background-promo-renderer:not([hidden])[class$="-renderer"],
  ytd-background-promo-renderer[renderer-style="full-height"] .promo-body-text.ytd-background-promo-renderer:not([hidden])[class$="-renderer"],
  ytd-background-promo-renderer[renderer-style="full-height"] .promo-title.ytd-background-promo-renderer:not([hidden])[class$="-renderer"],
  ytd-c4-tabbed-header-renderer[use-modern-style] #channel-handle[class$="-renderer"],
  ytd-c4-tabbed-header-renderer[use-page-header-style] #channel-handle[class$="-renderer"],
  ytd-compact-link-renderer[compact-link-style="compact-link-style-type-history-my-activity-link"] #content-icon.ytd-compact-link-renderer[hidden]+#primary-text-container[class$="-renderer"]>#label[class$="-renderer"],
  ytd-compact-station-renderer[collections] h3[class$="-renderer"],
  ytd-display-ad-renderer[layout="display-ad-layout-top-landscape-image"] #body-text[class$="-renderer"],
  ytd-display-ad-renderer[layout="display-ad-layout-top-landscape-image"] #secondary-text[class$="-renderer"],
  ytd-feed-nudge-renderer[nudge-style="modernized-nudge"] #subtitle[class$="-renderer"],
  ytd-feed-nudge-renderer[nudge-style="modernized-nudge"] #title[class$="-renderer"],
  ytd-feed-nudge-renderer[nudge-style="modernized-nudge"][no-shadow] #title[class$="-renderer"],
  ytd-game-details-renderer[is-rich-grid]:not([mini-mode]) #title[class$="-renderer"],
  ytd-grid-video-renderer #video-title.yt-simple-endpoint[class$="-renderer"],
  ytd-guide-entry-renderer[active] .title[class$="-renderer"],
  ytd-guide-entry-renderer[is-header] .title[class$="-renderer"],
  ytd-guide-section-renderer[guide-refresh] #guide-section-title[class$="-renderer"],
  ytd-guide-section-renderer[modern-typography] #guide-section-title[class$="-renderer"],
  ytd-item-section-header-renderer[modern-typography] #subtitle[class$="-renderer"],
  ytd-item-section-header-renderer[modern-typography] #title[class$="-renderer"],
  ytd-macro-markers-list-item-renderer:not([carousel-type="MACRO_MARKERS_LIST_ITEM_RENDERER_CAROUSEL_TYPE_TEXT_ONLY"]) h4[class$="-renderer"],
  ytd-macro-markers-list-item-renderer[modern][layout="MACRO_MARKERS_LIST_ITEM_RENDERER_LAYOUT_VERTICAL"] h4[class$="-renderer"],
  ytd-merch-shelf-item-renderer[item-style$="-item"] .product-item-description[class$="-renderer"],
  ytd-miniplayer[split-subtitle] #owner-name.ytd-miniplayer,
  ytd-playlist-panel-video-renderer[show-action-buttons] #video-title[class$="-renderer"],
  ytd-post-renderer[uses-compact-lockup][attachment="image"] #home-content-text[class$="-renderer"],
  ytd-post-renderer[uses-compact-lockup][attachment="none"] #home-content-text[class$="-renderer"],
  ytd-post-renderer[uses-compact-lockup][attachment="uploaded-videos"] #home-content-text[class$="-renderer"],
  ytd-reel-shelf-renderer[modern-typography] #title[class$="-renderer"],
  ytd-rich-grid-media[mini-mode] #video-title[class$="-media"],
  ytd-rich-grid-slim-media[mini-mode] #video-title[class$="-media"],
  ytd-rich-list-header-renderer[is-modern-sd] #title[class$="-renderer"],
  ytd-rich-list-header-renderer[modern-typography] #subtitle[class$="-renderer"],
  ytd-rich-list-header-renderer[modern-typography] #title[class$="-renderer"],
  ytd-rich-list-header-renderer[title-style="TITLE_STYLE_TYPE_CHANNEL_INLINE_RECS"] #title[class$="-renderer"],
  ytd-rich-shelf-renderer[modern-typography] #title[class$="-renderer"],
  ytd-shelf-renderer[modern-typography] #title[class$="-renderer"],
  ytd-structured-description-playlist-lockup-renderer[two-line-title] #title[class$="-renderer"],
  ytd-text-header-renderer,
  ytd-thumbnail-overlay-now-playing-renderer,
  ytd-video-description-course-section-renderer[modern-typography] #title[class$="-renderer"],
  ytd-video-description-infocards-section-renderer[show-creator-custom-url-buttons] #subtitle[class$="-renderer"],
  ytd-video-description-transcript-section-renderer[modern-typography] #title[class$="-renderer"],
  ytd-video-meta-block[rich-meta] #byline-container.ytd-video-meta-block,
  ytd-video-owner-renderer[modern-metapanel] #channel-name[class$="-renderer"],
  ytd-video-owner-renderer[watch-metadata-refresh] #owner-sub-count[class$="-renderer"],
  ytmusic-guide-entry-renderer,
  ytmusic-guide-entry-renderer:not([is-primary]) .subtitle[class$="-renderer"],
  ytmusic-guide-entry-renderer:not([is-primary]) .title[class$="-renderer"] {
    font-family: "Google Sans Text", var(--font-family-sans-serif);
  }

  h1.ytd-watch-metadata * {
    font-family: "YouTube Sans", "Google Sans Text", var(--font-family-sans-serif);
  }

  .html5-video-player .caption-visual-line .ytp-caption-segment {
    font-family: "Google Sans Text", var(--font-family-sans-serif) !important;
  }

}

/* Multiple sites */
@-moz-document domain("backpackers.com.tw"), domain("pinboard.in"), domain("hkitalk.net") {

  * {
    font-family: var(--font-family-sans-serif) !important;
  }

  textarea {
    font-family: var(--font-family-monospace) !important;
  }

}

/* All sites */
@-moz-document url-prefix("http:"), url-prefix("https:") {

  :root {
    --font-family-monospace: monospace;
    --font-family-sans-serif: sans-serif;
    --font-family-serif: serif;
  }

  /* Safari only */
  /* From https://browserstrangeness.bitbucket.io/css_hacks.html */
  @supports (-webkit-hyphens: none) {
    :root {
      --font-family-sans-serif: "InterVariable", system-ui, -apple-system, sans-serif;
      --font-family-serif: "Source Serif 4", serif;
      --font-family-monospace: "JetBrains Mono", monospace;
    }

    html {
      font-family: var(--font-family-sans-serif);
    }
  }

}