/* ==UserStyle==
@name modify-work
@namespace vicchow
@version 6.1.2
==/UserStyle== */

/*
 * Version number convention: <major>.<minor>.<patch>
 * <major>: new section
 * <minor>: new rule or update on section
 * <patch>: update on rule
 */

/* Web fonts */
/* @import url("//fonts.googleapis.com/css?family=Calibri:400,700,400italic,700italic"); */

/* GitLab */
/* @-moz-document domain("git.talgroup.com") {

  .gl-line-height-normal,
  .gl-search-box-by-type-input-borderless,
  .gl-search-box-by-type-input-borderless.gl-form-input {
    line-height: 1.15rem;
  }
} */

/* Microsoft Office and SharePoint */
@-moz-document domain("sharepoint.com"), domain("office.com") {
  .o365cs-topnavText {
    font-family: "SegoeUI-SemiLight-final", "Segoe UI SemiLight",
      "Segoe UI WPC Semilight", "Segoe UI", Segoe, Tahoma, Helvetica, Arial,
      sans-serif;
  }

  .ms-DetailsRow {
    width: 100%;
  }

  button {
    font-family: inherit !important;
  }

  div[data-item-key^="modifiedByColumn"],
  div[data-automation-key^="modifiedByColumn"] {
    width: 200px !important;
  }
}

/* Nexus */
@-moz-document domain("repo.talgroup.com") {
  body {
    font-family: sans-serif !important;
  }
}

/* Salesforce */
@-moz-document domain("talgroup.my.salesforce.com"), domain("visual.force.com"), domain("talgroup--c.vf.force.com") {
  * {
    font-family: sans-serif !important;
  }
}