/* ==UserStyle==
@name modify-forum
@namespace vicchow
@version 2.4.2
==/UserStyle== */

/* 
 * Version number convention: <major>.<minor>.<patch>
 * <major>: new section
 * <minor>: new rule or update on section
 * <patch>: update on rule
 */

/* HKiTalk */
@-moz-document domain("hkitalk.net") {
  body > table:first-of-type,
  #ct > table > tbody > tr > td:nth-child(2),
  #nv_forum > table > tbody > tr > td:nth-child(2),
  td.naclass2,
  .insert_ads {
    display: none;
  }
/*
  div#wp > table:first-of-type,
  div#wp td.naclass2, div#wp > table > tbody > tr > td:nth-child(2), 
  div#vfastpost { 
    display: none; 
  }

  div#wp td.naclass2 > ins, div#wp > table > tbody > tr > td:nth-child(2) > ins { 
    width: 0px !important; 
  }
*/
}
