/* ==UserStyle==
@name modify-layout
@namespace vicchow
@version 6.0.0
==/UserStyle== */

/* 
 * Version number convention: <major>.<minor>.<patch>
 * <major>: new section
 * <minor>: new rule or update on section
 * <patch>: update on rule
 */

/* Books.com.tw */
@-moz-document url-prefix("https://myaccount.books.com.tw/myaccount/myaccount/getSystemMail") {
  .table-01 th,
  .table-01 td {
    padding: 5px 5px;
  }

  table th,
  table td {
    text-align: left;
  }
}

/* Google */
@-moz-document domain("www.google.com"), domain("www.google.com.hk") {
  .iblpc,
  .dRYYxd {
    height: auto;
  }

  textarea.gLFyf,
  .YacQv {
    margin-bottom: auto;
  }
}

/* HKiTalk */
@-moz-document domain("hkitalk.net") {
  .bm.bmw:not(#threadlist, .cl, .pl),
  .insert_ads,
  #ct>table>tbody>tr>td:nth-child(2),
  #nv_forum>table>tbody>tr>td:nth-child(2),
  body>table:first-of-type,
  table:has(+ table + br + br + br + br + div#ft, + br + br + br + br + div#ft),
  td.naclass2 {
    display: none;
  }
}

/* Martin Fowler */
@-moz-document domain("martinfowler.com"), domain("refactoring.com") {
  body {
    margin: 0 auto;
    max-width: 1000px;
  }
}

/* Steam */
@-moz-document domain("steamcommunity.com"), domain("steampowered.com") {
  div.bb_h1 {
    font-size: 12px !important;
    line-height: inherit !important;
  }

  .collectionItem .workshopItemTitle {
    padding-top: 6px !important;
  }

  .workshopItemShortDesc {
    font-size: 12px !important;
    padding-top: 8px !important;
    white-space: normal !important;
  }

  .wishlist_row .tag {
    line-height: 13px;
  }
}

/* YouTube */
@-moz-document domain("www.youtube.com") {
  ytd-app[mini-guide-visible] ytd-page-manager.ytd-app {
    margin-left: auto;
  }

  ytd-browse[mini-guide-visible] ytd-playlist-header-renderer.ytd-browse,
  ytd-browse[mini-guide-visible] ytd-playlist-sidebar-renderer.ytd-browse {
    left: 0;
  }

  ytd-mini-guide-renderer.ytd-app {
    display: none;
  }

  #info.ytd-video-primary-info-renderer {
    flex-wrap: wrap;
  }

  /* Playlist */
  @media (min-width: 876px) {
    ytd-two-column-browse-results-renderer[page-subtype="history"][has-secondary-column-data] #primary.ytd-two-column-browse-results-renderer {
      padding-right: 332px;
    }

    ytd-browse-feed-actions-renderer.ytd-two-column-browse-results-renderer {
      width: 275px;
    }
  }
}