/* ==UserStyle==
@name modify-stylus
@namespace vicchow
@version 1.1.1
==/UserStyle== */

/*
 * Version number convention: <major>.<minor>.<patch>
 * <major>: add or remove section
 * <minor>: add or remove statement/rule
 * <patch>: update selector or declaration of statement/rule
 */

@-moz-document regexp("chrome-extension://.*"), regexp("moz-extension://.*") {
  :root {
    --font-family-monospace: monospace;
    --font-family-sans-serif: sans-serif;
    --font-family-serif: serif;
    /* --underline-offset: 10%; */
    --underline-offset: -10%;
  }

  .style-name:hover .style-name-link {
    text-decoration: none;
  }

  body {
    font-family: var(--font-family-sans-serif);
  }

  a,
  a *,
  u,
  *:hover {
    text-underline-offset: var(--underline-offset);
    text-underline-position: under;
    text-decoration-skip-ink: all;
    text-decoration-thickness: from-font;
  }
}