/* ==UserStyle==
@name modify-font
@namespace vicchow
@version 37.5.2
==/UserStyle== */

/*
 * Version number convention: <major>.<minor>.<patch>
 * <major>: new section
 * <minor>: new rule or update on section
 * <patch>: update on rule
 */

/* Load web fonts */
@import url('//fonts.googleapis.com/css2?family=Google+Sans&display=swap');
@import url('//fonts.googleapis.com/css?family=Google+Sans+Text:400,500,700,400i,500i,700i&display=swap');
/* @import url('//fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
@import url('//fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('//fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap');

/* Amazon */
@-moz-document domain("console.aws.amazon.com") {
  * {
    font-family: "Amazon Ember", var(--font-family-sans-serif);
  }
}

@-moz-document domain("www.amazon.com"), domain("smile.amazon.com"), domain("www.amazon.de"), domain("smile.amazon.de"), domain("www.amazon.co.uk"), domain("smile.amazon.co.uk"), domain("awscli.amazonaws.com") {
  * {
    font-family: "Amazon Ember", var(--font-family-sans-serif);
  }

  #AUI_A9AdsMiddleBoxTop h2,
  #customer-reviews_feature_div h2,
  #customerReviewsHeader,
  #detailpage-click2call-header,
  #hmdFormDiv h2,
  #need-help-deciding .secHeader,
  #pf-fitment-wrapper h2,
  #prodDetails td,
  #prodDetails .wrapper,
  #revMHLContainer h2,
  #reviewBucketHeader,
  #rhfMainHeading,
  #sponsored-products-dp_feature_div h2,
  .bucket h2,
  .cdInlineAskBoxTitle,
  .cdQuestionAnswerHeader,
  .pa_componentTitleTest h2,
  .merchbarW a,
  .merchbarW span,
  .merchbarW .shoveler-header,
  .price,
  h2.amtcmp,
  h2.featureHeading {
    font-family: "Amazon Ember", var(--font-family-sans-serif);
  }

  #navbar.nav-bluebeacon #nav-xshop #nav-pldn-org-name {
    height: 14px;
  }

  div.body h1,
  div.body h2,
  div.body h3,
  div.body h4,
  div.body h5,
  div.body h6 {
    font-family: var(--font-family-sans-serif);
  }
}

/* Apple */
@-moz-document domain("store.apple.com") {
  body,
  input,
  textarea,
  button,
  legend {
    font-family: var(--font-family-sans-serif) !important;
  }
}

/* Asia Miles */
@-moz-document domain("asiamiles.com") {
  *,
  * body,
  body {
    font-family: "Open Sans", var(--font-family-sans-serif);
  }
}

/* GitHub */
@-moz-document domain("github.com") {
  code,
  pre,
  tt,
  .blob-code-inner {
    font-family: var(--font-family-monospace);
  }
}

/* GitLab */
@-moz-document domain("gitlab.com") {
  .file-content.code pre code {
    font-family: var(--font-family-monospace);
  }
}

/* Google */
@-moz-document url-prefix("https://www.google.com") {
  html, body, h1 {
    font-family: var(--font-family-sans-serif);
  }

  *,
  button,
  input,
  td,
  a,
  p,
  .dG2XIf,
  .gb_0b,
  .gLFyf,
  .gsfi,
  .h,
  .lJ9FBc input[type],
  .MBeuO,
  .Rq5Gcb,
  .tNxQIb,
  .wHYlTd,
  .wx62f,
  .ZwRhJd {
    font-family: "Google Sans Text", var(--font-family-sans-serif);
  }
}

/* IEEE */
@-moz-document domain("ieee.org") {
  html,
  body,
  #meta-nav,
  .rsp h1,
  .rsp h3 {
    font-family: var(--font-family-sans-serif);
  }
}

/* KKBox */
@-moz-document domain("kkbox.com") {
  body,
  button,
  input,
  select,
  textarea {
    font-family: var(--font-family-sans-serif) !important;
  }
}

/* Leanpub */
@-moz-document domain("leanpub.com") {
  .book-hero__blurb,
  .about-book__copy,
  .featured-book-tagline,
  .profile__blurb,
  .lane-item__blurb,
  .lane-item__author_blurb,
  #leanpub-toc,
  .toc,
  .bundle-hero__titles a,
  .about-bundle__blurb {
    font-family: var(--font-family-serif);
  }
}

/* Martin Fowler */
@-moz-document domain("martinfowler.com") {
  body {
    margin: 0 auto;
    max-width: 1000px;
  }
}

/* Medium */
@-moz-document domain("medium.com") {
  .uiScale-ui--small .ui-h3 {
    transform: none !important;
  }
}

/* Mozilla */
@-moz-document domain("hacks.mozilla.org") {
  .fancy-link,
  .article a:link,
  h3 a:link,
  h2 a:link {
    background-image: none;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: inherit;
  }
}

/* Now E */
@-moz-document domain("nowe.com") {
  .sqp-subtitle-element {
    font-size: 48px !important;
  }
}

/* NVIDIA */
@-moz-document url-prefix("https://docs.nvidia.com/jetson/l4t/"), url-prefix("https://docs.nvidia.com/ngc/ngc-ready-systems/")
{
  html,
  body,
  .ww_skin_toc_entry,
  div.WebWorks_MiniTOC,
  div.Body_Text,
  caption.Body_Text,
  div.List_Bullet,
  caption.List_Bullet,
  div.List_Continue,
  caption.List_Continue,
  div.Cell_Heading,
  caption.Cell_Heading,
  div.Cell_Text,
  caption.Cell_Text,
  div.Heading_5,
  caption.Heading_5,
  h1.Heading_1,
  div.Heading_1,
  caption.Heading_1,
  h2.Heading_2,
  div.Heading_2,
  caption.Heading_2,
  span.Strong,
  span.Strong a,
  span.Strong a:active,
  abbreviation.Strong,
  abbreviation.Strong a,
  abbreviation.Strong a:active,
  acronym.Strong,
  acronym.Strong a,
  acronym.Strong a:active,
  citation.Strong,
  citation.Strong a,
  citation.Strong a:active {
    font-family: var(--font-family-sans-serif);
  }
}

/* OpenSearch */
@-moz-document domain("opensearch.org") {
  body {
    font-family: serif;
  }
}

/* O'Reilly Learning */
@-moz-document domain("learning.oreilly.com") {
  #sbo-reader .sbo-reader-content,
  #sbo-rt-content,
  #book-content #sbo-rt-content,
  #book-content #sbo-rt-content a,
  #book-content #sbo-rt-content a:link,
  #book-content #sbo-rt-content a:visited,
  #book-content #sbo-rt-content div,
  #book-content #sbo-rt-content li,
  #book-content #sbo-rt-content ul li,
  #book-content #sbo-rt-content ol li,
  #book-content #sbo-rt-content ul li p,
  #book-content #sbo-rt-content ol li p,
  #book-content #sbo-rt-content p,
  #book-content #sbo-rt-content dt,
  #book-content #sbo-rt-content blockquote,
  #book-content #sbo-rt-content blockquote p,
  #book-content #sbo-rt-content table p,
  #book-content #sbo-rt-content table tr td,
  #book-content #sbo-rt-content .paragraph-head,
  #book-content #sbo-rt-content .cn-chapter-number,
  #book-content #sbo-rt-content .box_title,
  #book-content #sbo-rt-content .packt_para,
  #book-content #sbo-rt-content .calibre4,
  #book-content #sbo-rt-content .noindent,
  #book-content #sbo-rt-content .indent,
  #book-content #sbo-rt-content .note p,
  #book-content #sbo-rt-content .blockquote p {
    font-family: var(--font-family-serif) !important;
    font-weight: normal !important;
  }

  #book-content #sbo-rt-content h1,
  #book-content #sbo-rt-content h2,
  #book-content #sbo-rt-content h3,
  #book-content #sbo-rt-content h4,
  #book-content #sbo-rt-content h5,
  #book-content #sbo-rt-content h6,
  #book-content #sbo-rt-content .heading-1,
  #book-content #sbo-rt-content .heading-3,
  #book-content #sbo-rt-content .chaptertitle,
  #book-content #sbo-rt-content .chapterTitle,
  #book-content #sbo-rt-content .chapterNumber,
  #book-content #sbo-rt-content .title_document,
  #book-content #sbo-rt-content .fm_title_document {
    font-family: "Guardian Sans Text", var(--font-family-sans-serif) !important;
    font-weight: normal !important;
  }

  #book-content #sbo-rt-content .boxg p,
  #book-content #sbo-rt-content .note p,
  #book-content #sbo-rt-content .note1 p,
  #book-content #sbo-rt-content .sidebar1 p,
  #book-content #sbo-rt-content .tip p,
  #book-content #sbo-rt-content .warning p,
  #book-content #sbo-rt-content div.note p,
  #book-content #sbo-rt-content div.sidebar p,
  #book-content #sbo-rt-content div.tip p,
  #book-content #sbo-rt-content div.warning p {
    font-family: var(--font-family-sans-serif) !important;
  }

  #sbo-rt-content kbd,
  #sbo-rt-content .packt_action {
    font-size: 1em !important;
  }

  #book-content #sbo-rt-content pre,
  #book-content #sbo-rt-content .pre,
  #book-content #sbo-rt-content p.pre,
  #book-content #sbo-rt-content .pre1,
  #book-content #sbo-rt-content .pre-ex,
  #book-content #sbo-rt-content .pre_w {
    font-family: var(--font-family-monospace) !important;
    font-weight: normal !important;
  }

  [class^="VideoContent-title"] {
    font-family: inherit !important;
  }

  .content-VideoContent > .content-VideoContent-title {
    font-family: inherit !important;
    font-weight: 500;
  }
}

/* Pinboard */
@-moz-document domain("pinboard.in") {
  textarea {
    font-size: 12px;
  }
}

/* PTT */
@-moz-document url-prefix("https://www.ptt.cc/bbs") {
  .bbs-content {
    font-family: monospace;
    line-height: 150%;
    width: 95%;
  }
}

/* Python */
@-moz-document domain("www.pypa.io"), domain("docs.python.org"), domain("packaging.python.org") {
  div.body h1,
  div.body h2,
  div.body h3,
  div.body h4,
  div.body h5,
  div.body h6,
  form.inline-search input,
  div.sphinxsidebar input,
  div.sphinxsidebar h3,
  body {
    font-family: var(--font-family-sans-serif);
  }
}

@-moz-document domain("pypi.org") {
  a {
    background-position: inherit;
    background-repeat: inherit;
    background-image: none;
    text-decoration: none;
  }
  a:hover {
    background-image: none;
    text-decoration: underline;
  }
}

/* Sensibo */
@-moz-document domain("home.sensibo.com") {
  body,
  div {
    font-family: var(--font-family-sans-serif);
  }
}

/* Stack Exchange */
@-moz-document domain("stackoverflow.com"), domain("superuser.com"), domain("serverfault.com"), domain("stackexchange.com") {
  html,
  body,
  .module a,
  .module question-hyperlink,
  .module .answer-hyperlink,
  .question-summary .question-hyperlink,
  .topbar-dialog,
  #question-header .question-hyperlink,
  .post-text,
  .wmd-preview,
  .comment-copy,
  .question-status,
  .excerpt,
  .s-prose,
  .comment-copy,
  .question-status,
  .excerpt {
    font-family: var(--font-family-sans-serif) !important;
  }

  code {
    font-family: var(--font-family-monospace);
  }
}

/* SCB */
@-moz-document domain("ibank.standardchartered.com.hk"), domain("retail.sc.com") {
  html,
  body,
  form,
  a,
  acronym,
  code,
  div,
  hr,
  img,
  label,
  p,
  pre,
  span,
  strong,
  table,
  tr,
  th,
  td,
  button,
  input,
  select,
  textarea {
    font-family: var(--font-family-sans-serif);
  }

  .tbl_layout {
    margin: 0 auto;
  }

  .tbl_paging td,
  .tbl_listing th,
  .tbl_content_left,
  .tbl_content_middle,
  .tbl_content_right {
    padding: 5px;
  }

  .tbl_header_left div.border_left_grey,
  .tbl_header_right div.border_right_grey {
    background-image: none;
  }

  .tbl_content_right {
    font-variant-numeric: tabular-nums;
  }
}

/* Stanford Encyclopedia of Philosophy */
@-moz-document domain("plato.stanford.edu") {
  body {
    line-height: 1.8em;
  }
}

/* Steam */
@-moz-document domain("steamcommunity.com"), domain("steampowered.com") {
  body,
  textarea,
  .community_home_subtitle,
  .workshopItemTitle,
  .dynamiclink_box,
  .apphub_CardContentDiscussionTitle,
  body.v6,
  .early_access_review,
  .group_overview_announcement .large_title,
  .slideshow_item_title {
    font-family: "Motiva Sans", var(--font-family-sans-serif);
  }

  div.bb_h1 {
    font-size: 12px !important;
    line-height: inherit !important;
  }

  .collectionItem .workshopItemTitle {
    padding-top: 6px !important;
  }

  .workshopItemShortDesc {
    font-size: 12px !important;
    padding-top: 8px !important;
    white-space: normal !important;
  }

  .wishlist_row .tag {
    line-height: 13px;
  }
}

/* Telegram */
@-moz-document domain("telegram.org") {
  body {
    font-family: var(--font-family-sans-serif);
  }
}

/* TMTP */
@-moz-document domain("www.tmtp.com.hk") {
  body {
    font-family: var(--font-family-sans-serif);
  }
}

/* ViuTV */
@-moz-document domain("viu.tv") {
  .jw-captions,
  .jw-text-track-cue,
  .jw-video::-webkit-media-text-track-display,
  .jw-video::cue {
    font-size: 48px !important;
  }
}

/* Wikia */
@-moz-document domain("wikia.com") {
  body {
    font-family: var(--font-family-sans-serif);
  }
}

/* YouTube */
@-moz-document domain("www.youtube.com") {
  *,
  html,
  .less-button.ytd-comment-renderer,
  .more-button.ytd-comment-renderer, 
  .promo-title.ytd-background-promo-renderer,
  .subheadline.ytd-channel-about-metadata-renderer,
  .title.ytd-guide-entry-renderer,
  #aside-text.ytd-settings-radio-option-renderer,
  #bio.ytd-channel-about-metadata-renderer,
  #content-text.ytd-comment-renderer,
  #description-text.ytd-video-renderer,
  #description.ytd-channel-about-metadata-renderer, 
  #label.ytd-compact-link-renderer,
  #label.ytd-dropdown-item-renderer,
  #label.ytd-profile-column-stats-entry-renderer,
  #label.ytd-settings-checkbox-renderer,
  #label.ytd-settings-radio-option-renderer, 
  #label.ytd-toggle-theme-compact-link-renderer,
  #name.ytd-page-introduction-renderer,
  #primary-links.ytd-c4-tabbed-header-renderer yt-formatted-string.ytd-c4-tabbed-header-renderer,
  #search-input.ytd-searchbox-spt input,
  #subscriber-count.ytd-c4-tabbed-header-renderer,
  #subtitle.ytd-compact-link-renderer,
  #subtitle.ytd-item-section-header-renderer,
  #subtitle.ytd-settings-switch-renderer,
  #text.ytd-connected-app-renderer,
  #text.ytd-page-introduction-renderer,
  #text.ytd-settings-options-renderer,
  #title.ytd-connected-app-renderer,
  #title.ytd-page-introduction-renderer,
  #title.ytd-profile-column-user-info-renderer,
  #title.ytd-settings-options-renderer,
  #title.ytd-settings-switch-renderer,
  #video-title.ytd-compact-video-renderer,
  #video-title.ytd-playlist-video-renderer,
  #video-title.ytd-rich-grid-media,
  yt-formatted-string.ytd-menu-service-item-renderer,
  ytd-active-account-header-renderer:not([enable-handles-account-menu-switcher]) #account-name.ytd-active-account-header-renderer,
  ytd-compact-link-renderer[compact-link-style="compact-link-style-type-history-my-activity-link"] #content-icon.ytd-compact-link-renderer[hidden] + #primary-text-container.ytd-compact-link-renderer > #label.ytd-compact-link-renderer,
  ytd-grid-video-renderer #video-title.yt-simple-endpoint.ytd-grid-video-renderer,
  ytd-guide-entry-renderer[active] .title.ytd-guide-entry-renderer,
  ytd-guide-section-renderer[guide-refresh] #guide-section-title.ytd-guide-section-renderer,
  ytd-rich-grid-media[mini-mode] #video-title.ytd-rich-grid-media {
    font-family: "YouTube Sans", var(--font-family-sans-serif);
  }

  ytd-mini-guide-renderer.ytd-app {
    display: none;
  }

  ytd-browse[mini-guide-visible] ytd-playlist-header-renderer.ytd-browse,
  ytd-browse[mini-guide-visible] ytd-playlist-sidebar-renderer.ytd-browse {
    left: 0;
  }

  ytd-app[mini-guide-visible] ytd-page-manager.ytd-app {
    margin-left: auto
  }

  /* Playlist */
  @media (min-width: 876px) {
    ytd-two-column-browse-results-renderer[page-subtype="history"][has-secondary-column-data] #primary.ytd-two-column-browse-results-renderer {
      padding-right: 332px;
    }

    ytd-browse-feed-actions-renderer.ytd-two-column-browse-results-renderer {
      width: 275px;
    }
  }
}

/* Multiple sites */
@-moz-document url-prefix("http://router.asus.com"),
  url-prefix("https://vicchow.asuscomm.com"),
  url-prefix("https://192.168.1.1:8443"),
  domain("asusrt.home"),
  domain("backpackers.com.tw"),
  domain("pinboard.in"),
  domain("hkitalk.net") {
  * {
    font-family: var(--font-family-sans-serif) !important;
  }

  textarea {
    font-family: var(--font-family-monospace) !important;
  }
}

@-moz-document domain("developer.mozilla.org"), domain("trello.com"), domain("wikipedia.org") {
  body,
  button,
  html,
  input,
  select,
  textarea,
  .button {
    font-family: var(--font-family-sans-serif);
  }
}

/* All sites */
@-moz-document url-prefix("http:"), url-prefix("https:") {
  :root {
    --font-family-sans-serif: sans-serif;
    --font-family-serif: serif;
    --font-family-monospace: monospace;
  }

  /* Safari specific */
  @media not all and (min-resolution: .001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
      :root {
        --font-family-sans-serif: "Source Sans 3", system-ui, -apple-system, sans-serif;
        --font-family-serif: "Source Serif 4", serif;
      }

      body {
        font-family: var(--font-family-sans-serif);
      }
    }
  }
}