/* ==UserStyle==
@name modify-forum
@namespace vicchow
@version 2.0.0
==/UserStyle== */

/* 
 * Version number convention: <major>.<minor>.<patch>
 * <major>: new section
 * <minor>: new rule
 * <patch>: update on rules
 */

/* HKiTalk */
@-moz-document domain("hkitalk.net") {
  div#wp > table:first-child {
    display: none;
  }

  div#wp td.naclass2, div#wp > table > tbody > tr > td:nth-child(2)  {
    width: 1%;
  }

  div#wp td.naclass2 > ins, div#wp > table > tbody > tr > td:nth-child(2) > ins {
    width: 0px !important;
  }
}
