/* ==UserStyle==
@name modify-link
@namespace vicchow
@version 13.1.2
==/UserStyle== */

/* 
 * Version number convention: <major>.<minor>.<patch>
 * <major>: add or remove section
 * <minor>: add or remove statement/rule
 * <patch>: update selector or declaration of statement/rule
 */

/* Amazon */
@-moz-document domain("www.amazon.com"), domain("www.amazon.de"), domain("www.amazon.co.uk"), domain("awscli.amazonaws.com") {

  .s-underline-text,
  .s-underline-text.s-underline-link-text {
    text-decoration: none;
  }
}

/* Feedly */
/* @-moz-document domain("feedly.com") {

  .entryBody a,
  entryBody a:hover {
    text-decoration: underline dotted;
    border-bottom: unset;
  }
} */

/* Google */
@-moz-document domain("docs.google.com") {
  :not(.docs-title-save-label-disabled)>.docs-title-save-label-text-link {
    text-underline-offset: var(--underline-offset);
  }
}

/* HSBC HK */
@-moz-document domain("www.hsbc.com.hk") {

  .link-card[_ngcontent-c60]:focus,
  .link-card[_ngcontent-c60]:hover .quickLinkText[_ngcontent-c60],
  .link-card[_ngcontent-c18]:hover .quickLinkText[_ngcontent-c18],
  .link-card[_ngcontent-c18]:focus .quickLinkText[_ngcontent-c18] {
    text-decoration: none;
    color: darkgrey;
  }

  .quickLinkText[_ngcontent-c60],
  .quickLinkText[_ngcontent-c18] {
    line-height: 2rem;
  }
}

/* Medium */
@-moz-document domain("medium.com"), url-prefix("https://500ish.com"), url-prefix("https://blog.bitsrc.io"), url-prefix("https://codeburst.io"), url-prefix("https://levelup.gitconnected.com"), url-prefix("https://itnext.io"), url-prefix("https://towardsdatascience.com"), url-prefix("https://uxdesign.cc") {
  article a {
    text-underline-offset: var(--underline-offset);
  }
}

/* Mozilla */
@-moz-document domain("developer.mozilla.org") {

  .about-container a:link,
  .about-container a:visited,
  .main-page-content a:link,
  .main-page-content a:visited {
    text-decoration: none;
  }
}

@-moz-document domain("hacks.mozilla.org") {
  @media all {

    .fancy-link,
    .article a:link,
    h3 a:link,
    h2 a:link {
      background-image: none;
      background-repeat: no-repeat;
      background-size: auto;
      background-position: inherit;
      text-underline-offset: var(--underline-offset);
    }

    abbr[title] {
      text-underline-offset: var(--underline-offset);
    }
  }
}

@-moz-document domain("openrice.com") {

  .sr2-rms-container>.middle-col .normal-review-section>.content>.profile>.info>.review-sub-title a,
  .sr2-rms-container>.middle-col .normal-review-section>.content>.profile>.info>.review-sub-title span {
    vertical-align: inherit;
  }
}

/* Python */
@-moz-document domain("pypi.org") {
  a {
    background-image: none;
    background-position: inherit;
    background-repeat: inherit;
    text-decoration: none;
  }

  a:hover {
    background-image: none;
    text-decoration: underline;
  }
}

/* The Economist */
@-moz-document domain("www.economist.com") {
  .ds-navigation-link span {
    border-bottom: 0.1rem dotted transparent;
  }

  .css-13gy2f5 ul li a,
  .css-13gy2f5 ol li a,
  .css-13gy2f5 .article__body-text-image>ol a,
  .css-13gy2f5 .article__body-text-image>ul a,
  .css-13gy2f5 .article__body-text a {
    border-bottom: 0.1rem dotted;
  }

  @media (min-width: 22.5rem) {

    .css-13gy2f5 ul li a,
    .css-13gy2f5 ol li a,
    .css-13gy2f5 .article__body-text-image>ol a,
    .css-13gy2f5 .article__body-text-image>ul a,
    .css-13gy2f5 .article__body-text a {
      border-width: 0.1rem;
    }
  }
}

/* All sites */
@-moz-document url-prefix("http:"), url-prefix("https:") {
  :root {
    /* --underline-offset: 10%; */
    --underline-offset: -10%;
  }

  a,
  a *,
  u,
  *:hover {
    text-underline-offset: var(--underline-offset);
    text-underline-position: under;
    text-decoration-thickness: from-font;
  }
}