/* ==UserStyle==
@name modify-hyperlink
@namespace vicchow
@version 5.1.5
==/UserStyle== */

/* 
 * Version number convention: <major>.<minor>.<patch>
 * <major>: new section
 * <minor>: new rule or update on section
 * <patch>: update on rule
 */

/* Medium */
@-moz-document domain("medium.com"), url-prefix("https://500ish.com"), url-prefix("https://blog.bitsrc.io"), url-prefix("https://codeburst.io"), url-prefix("https://levelup.gitconnected.com"), url-prefix("https://itnext.io"), url-prefix("https://towardsdatascience.com"), url-prefix("https://uxdesign.cc") {
  article a {
    text-underline-offset: var(--underline-offset);
  }
}

/* Mozilla */
@-moz-document domain("hacks.mozilla.org") {
  @media all {
    .fancy-link, .article a:link, h3 a:link, h2 a:link {
      text-underline-offset: var(--underline-offset);
    }
  
    abbr[title] {
      text-underline-offset: var(--underline-offset);
    }  
  }
}

/* All sites */
@-moz-document url-prefix("http:"), url-prefix("https:") {
  :root {
    --underline-offset: .2em;
  }
  
  a, a *, u { 
    text-underline-offset: var(--underline-offset);
  }
}
