/* ==UserStyle==
@name modify-font
@namespace vicchow
@version 41.4.5
==/UserStyle== */

/*
 * Version number convention: <major>.<minor>.<patch>
 * <major>: new section
 * <minor>: new rule or update on section
 * <patch>: update on rule
 */

/* Load web fonts */
@import url('//fonts.googleapis.com/css?family=Google+Sans+Text:400,500,700,400i,500i,700i&display=swap');
@import url('//fonts.googleapis.com/css2?family=Google+Sans&display=swap');
/* @import url('//fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
@import url('//fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('//fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap');

/* Amazon */
@-moz-document domain("console.aws.amazon.com") {
  * {
    font-family: "Amazon Ember", var(--font-family-sans-serif);
  }
}

@-moz-document domain("www.amazon.com"), domain("smile.amazon.com"), domain("www.amazon.de"), domain("smile.amazon.de"), domain("www.amazon.co.uk"), domain("smile.amazon.co.uk"), domain("awscli.amazonaws.com") {
  * {
    font-family: "Amazon Ember", var(--font-family-sans-serif);
  }

  .bucket h2,
  .cdInlineAskBoxTitle,
  .cdQuestionAnswerHeader,
  .merchbarW .shoveler-header,
  .merchbarW a,
  .merchbarW span,
  .pa_componentTitleTest h2,
  .price,
  #AUI_A9AdsMiddleBoxTop h2,
  #customer-reviews_feature_div h2,
  #customerReviewsHeader,
  #detailpage-click2call-header,
  #hmdFormDiv h2,
  #need-help-deciding .secHeader,
  #pf-fitment-wrapper h2,
  #prodDetails .wrapper,
  #prodDetails td,
  #reviewBucketHeader,
  #revMHLContainer h2,
  #rhfMainHeading,
  #sponsored-products-dp_feature_div h2,
  h2.amtcmp,
  h2.featureHeading {
    font-family: "Amazon Ember", var(--font-family-sans-serif);
  }

  #navbar.nav-bluebeacon #nav-xshop #nav-pldn-org-name {
    height: 14px;
  }

  div.body h1,
  div.body h2,
  div.body h3,
  div.body h4,
  div.body h5,
  div.body h6 {
    font-family: var(--font-family-sans-serif);
  }
}

/* Books.com.tw */
@-moz-document url-prefix("https://myaccount.books.com.tw/myaccount/myaccount/getSystemMail") {
  .table-01 th, .table-01 td {
    padding: 5px 5px;
  }

  table th, table td {
    text-align: left;
  }
}

/* GitHub */
@-moz-document domain("github.com") {
  code,
  pre,
  tt,
  .blob-code-inner {
    font-family: var(--font-family-monospace);
  }
}

/* GitLab */
@-moz-document domain("gitlab.com") {
  .file-content.code pre code {
    font-family: var(--font-family-monospace);
  }
}

/* Google */
@-moz-document domain("www.google.com"), domain("www.google.com.hk") {
  html, body, h1 {
    font-family: var(--font-family-sans-serif);
  }

  *,
  .Dffq3b,
  .dG2XIf,
  .f3LoEf,
  .gb_0b,
  .gLFyf,
  .gsfi,
  .h,
  .lJ9FBc input[type],
  .MBeuO,
  .Rq5Gcb,
  .tNxQIb,
  .wHYlTd,
  .wx62f,
  .yGdMVd .wx62f,
  .ZwRhJd,
  a,
  button,
  input,
  input.gLFyf,
  p,
  td {
    font-family: "Google Sans Text", var(--font-family-sans-serif);
  }

  @media screen and (max-width: 1024px) {
    .CvDJxb,
    .main {
      min-width: 1010px;
    }

    .Hwkikb.WY0eLb,
    .IVvPP .cLjAic.WY0eLb, 
    .IVvPP.rhstc4 .ptcLIOszQJu__wholepage-card.WY0eLb,
    .IVvPP.rhstc4 .WY0eLb .ptcLIOszQJu__wholepage-card, 
    .IVvPP.rhstc4 .WY0eLb .s2TyX {
      width: 236px;
    }

    .srp {
      --rhs-width: 269px;
    }

    #rhs, 
    #rhs.rhstc4 > div[class] {
      width: 269px;
    }
  }
}

/* IEEE */
@-moz-document domain("ieee.org") {
  .rsp h1,
  .rsp h3,
  #meta-nav,
  body,
  html {
    font-family: var(--font-family-sans-serif);
  }
}

/* KKBox */
@-moz-document domain("kkbox.com") {
  body,
  button,
  input,
  select,
  textarea {
    font-family: var(--font-family-sans-serif) !important;
  }
}

/* Leanpub */
@-moz-document domain("leanpub.com") {
  .about-book__copy,
  .about-bundle__blurb,
  .book-hero__blurb,
  .bundle-hero__titles a,
  .featured-book-tagline,
  .lane-item__author_blurb,
  .lane-item__blurb,
  .profile__blurb,
  .toc,
  #leanpub-toc {
    font-family: var(--font-family-serif);
  }
}

/* Martin Fowler */
@-moz-document domain("martinfowler.com") {
  body {
    margin: 0 auto;
    max-width: 1000px;
  }
}

/* Mozilla */
@-moz-document domain("hacks.mozilla.org") {
  .article a:link,
  .fancy-link,
  h2 a:link,
  h3 a:link {
    background-image: none;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: inherit;
  }
}

/* Now E */
@-moz-document domain("nowe.com") {
  .sqp-subtitle-element {
    font-size: 48px !important;
  }
}

/* NVIDIA */
@-moz-document url-prefix("https://docs.nvidia.com/jetson/l4t/"), url-prefix("https://docs.nvidia.com/ngc/ngc-ready-systems/")
{
  .ww_skin_toc_entry,
  abbreviation.Strong a,
  abbreviation.Strong a:active,
  abbreviation.Strong,
  acronym.Strong a,
  acronym.Strong a:active,
  acronym.Strong,
  body,
  caption.Body_Text,
  caption.Cell_Heading,
  caption.Cell_Text,
  caption.Heading_1,
  caption.Heading_2,
  caption.Heading_5,
  caption.List_Bullet,
  caption.List_Continue,
  citation.Strong a,
  citation.Strong a:active,
  citation.Strong,
  div.Body_Text,
  div.Cell_Heading,
  div.Cell_Text,
  div.Heading_1,
  div.Heading_2,
  div.Heading_5,
  div.List_Bullet,
  div.List_Continue,
  div.WebWorks_MiniTOC,
  h1.Heading_1,
  h2.Heading_2,
  html,
  span.Strong a,
  span.Strong a:active,
  span.Strong {
    font-family: var(--font-family-sans-serif);
  }
}

/* OpenSearch */
@-moz-document domain("opensearch.org") {
  body {
    font-family: var(--font-family-serif);
  }
}

/* O'Reilly Learning */
@-moz-document domain("learning.oreilly.com") {
  #book-content #sbo-rt-content .blockquote p,
  #book-content #sbo-rt-content .box_title,
  #book-content #sbo-rt-content .calibre4,
  #book-content #sbo-rt-content .cn-chapter-number,
  #book-content #sbo-rt-content .indent,
  #book-content #sbo-rt-content .noindent,
  #book-content #sbo-rt-content .note p,
  #book-content #sbo-rt-content .packt_para,
  #book-content #sbo-rt-content .paragraph-head,
  #book-content #sbo-rt-content a,
  #book-content #sbo-rt-content a:link,
  #book-content #sbo-rt-content a:visited,
  #book-content #sbo-rt-content blockquote p,
  #book-content #sbo-rt-content blockquote,
  #book-content #sbo-rt-content div,
  #book-content #sbo-rt-content dt,
  #book-content #sbo-rt-content li,
  #book-content #sbo-rt-content ol li p,
  #book-content #sbo-rt-content ol li,
  #book-content #sbo-rt-content p,
  #book-content #sbo-rt-content table p,
  #book-content #sbo-rt-content table tr td,
  #book-content #sbo-rt-content ul li p,
  #book-content #sbo-rt-content ul li,
  #book-content #sbo-rt-content,
  #sbo-reader .sbo-reader-content,
  #sbo-rt-content {
    font-family: var(--font-family-serif) !important;
    font-weight: normal !important;
  }

  #book-content #sbo-rt-content .chapterNumber,
  #book-content #sbo-rt-content .chaptertitle,
  #book-content #sbo-rt-content .chapterTitle,
  #book-content #sbo-rt-content .fm_title_document,
  #book-content #sbo-rt-content .heading-1,
  #book-content #sbo-rt-content .heading-3,
  #book-content #sbo-rt-content .title_document,
  #book-content #sbo-rt-content h1,
  #book-content #sbo-rt-content h2,
  #book-content #sbo-rt-content h3,
  #book-content #sbo-rt-content h4,
  #book-content #sbo-rt-content h5,
  #book-content #sbo-rt-content h6 {
    font-family: "Guardian Sans Text", var(--font-family-sans-serif) !important;
    font-weight: normal !important;
  }

  #book-content #sbo-rt-content .boxg p,
  #book-content #sbo-rt-content .note p,
  #book-content #sbo-rt-content .note1 p,
  #book-content #sbo-rt-content .sidebar1 p,
  #book-content #sbo-rt-content .tip p,
  #book-content #sbo-rt-content .warning p,
  #book-content #sbo-rt-content div.note p,
  #book-content #sbo-rt-content div.sidebar p,
  #book-content #sbo-rt-content div.tip p,
  #book-content #sbo-rt-content div.warning p {
    font-family: var(--font-family-sans-serif) !important;
  }

  #sbo-rt-content .packt_action,
  #sbo-rt-content kbd {
    font-size: 1em !important;
  }

  #book-content #sbo-rt-content .pre_w,
  #book-content #sbo-rt-content .pre-ex,
  #book-content #sbo-rt-content .pre,
  #book-content #sbo-rt-content .pre1,
  #book-content #sbo-rt-content p.pre,
  #book-content #sbo-rt-content pre {
    font-family: var(--font-family-monospace) !important;
    font-weight: normal !important;
  }

  [class^="VideoContent-title"] {
    font-family: inherit !important;
  }

  .content-VideoContent > .content-VideoContent-title {
    font-family: inherit !important;
    font-weight: 500;
  }
}

/* Pinboard */
@-moz-document domain("pinboard.in") {
  textarea {
    font-size: 12px;
  }
}

/* PTT */
@-moz-document url-prefix("https://www.ptt.cc/bbs") {
  .bbs-content {
    font-family: var(--font-family-monospace);
    line-height: 150%;
    width: 95%;
  }
}

/* Python */
@-moz-document domain("www.pypa.io"), domain("docs.python.org"), domain("packaging.python.org") {
  body,
  div.body h1,
  div.body h2,
  div.body h3,
  div.body h4,
  div.body h5,
  div.body h6,
  div.sphinxsidebar h3,
  div.sphinxsidebar input,
  form.inline-search input {
    font-family: var(--font-family-sans-serif);
  }
}

@-moz-document domain("pypi.org") {
  a {
    background-image: none;
    background-position: inherit;
    background-repeat: inherit;
    text-decoration: none;
  }
  a:hover {
    background-image: none;
    text-decoration: underline;
  }
}

/* Sensibo */
@-moz-document domain("home.sensibo.com") {
  body,
  div {
    font-family: var(--font-family-sans-serif);
  }
}

/* Stack Exchange */
@-moz-document domain("stackoverflow.com"), domain("superuser.com"), domain("serverfault.com"), domain("stackexchange.com") {
  .comment-copy,
  .comment-copy,
  .excerpt,
  .module .answer-hyperlink,
  .module a,
  .module question-hyperlink,
  .post-text,
  .question-status,
  .question-status,
  .question-summary .question-hyperlink,
  .s-prose,
  .topbar-dialog,
  .wmd-preview,
  #question-header .question-hyperlink,
  body,
  html {
    font-family: var(--font-family-sans-serif) !important;
  }

  code {
    font-family: var(--font-family-monospace);
  }
}

/* SCB */
@-moz-document domain("ibank.standardchartered.com.hk"), domain("retail.sc.com") {
  a,
  acronym,
  body,
  button,
  code,
  div,
  form,
  hr,
  html,
  img,
  input,
  label,
  p,
  pre,
  select,
  span,
  strong,
  table,
  td,
  textarea,
  th,
  tr {
    font-family: var(--font-family-sans-serif);
  }

  .tbl_layout {
    margin: 0 auto;
  }

  .tbl_content_left,
  .tbl_content_middle,
  .tbl_content_right,
  .tbl_listing th,
  .tbl_paging td {
    padding: 5px;
  }

  .tbl_header_left div.border_left_grey,
  .tbl_header_right div.border_right_grey {
    background-image: none;
  }

  .tbl_content_right {
    font-variant-numeric: tabular-nums;
  }
}

/* Stanford Encyclopedia of Philosophy */
@-moz-document domain("plato.stanford.edu") {
  body {
    line-height: 1.8em;
  }
}

/* Steam */
@-moz-document domain("steamcommunity.com"), domain("steampowered.com") {
  .apphub_CardContentDiscussionTitle,
  .community_home_subtitle,
  .dynamiclink_box,
  .early_access_review,
  .group_overview_announcement .large_title,
  .slideshow_item_title,
  .workshopItemTitle,
  body,
  body.v6,
  textarea {
    font-family: "Motiva Sans", var(--font-family-sans-serif);
  }

  div.bb_h1 {
    font-size: 12px !important;
    line-height: inherit !important;
  }

  .collectionItem .workshopItemTitle {
    padding-top: 6px !important;
  }

  .workshopItemShortDesc {
    font-size: 12px !important;
    padding-top: 8px !important;
    white-space: normal !important;
  }

  .wishlist_row .tag {
    line-height: 13px;
  }
}

/* Telegram */
@-moz-document domain("telegram.org") {
  body {
    font-family: var(--font-family-sans-serif);
  }
}

/* TMTP */
@-moz-document domain("www.tmtp.com.hk") {
  body {
    font-family: var(--font-family-sans-serif);
  }
}

/* ViuTV */
@-moz-document domain("viu.tv") {
  .jw-captions,
  .jw-text-track-cue,
  .jw-video::-webkit-media-text-track-display,
  .jw-video::cue {
    font-size: 48px !important;
  }
}

/* Wikia */
@-moz-document domain("wikia.com") {
  body {
    font-family: var(--font-family-sans-serif);
  }
}

/* YouTube */
@-moz-document domain("www.youtube.com") {
  *,
  .button.ytd-text-inline-expander,
  .grid-movie-renderer-metadata[class$=-renderer],
  .less-button[class$=-renderer],
  .more-button[class$=-renderer],
  .promo-body-text[class$=-renderer],
  .promo-title[class$=-renderer],
  .subheadline[class$=-renderer],
  .title[class$=-renderer],
  #aside-text[class$=-renderer],
  #bio[class$=-renderer],
  #content-text[class$=-renderer],
  #description[class$=-renderer],
  #label[class$=-renderer],
  #message[class$=-renderer],
  #name[class$=-renderer],
  #next-label[class$=-renderer],
  #primary-links[class$=-renderer],
  #search-input.ytd-searchbox-spt input,
  #simplebox-placeholder[class$=-renderer],
  #subscriber-count[class$=-renderer],
  #subtitle[class$=-renderer],
  #text[class$=-renderer],
  #thumbnail-attribution[class$=-renderer],
  #title[class$=-renderer],
  #video-title[class$=-media],
  #video-title[class$=-renderer],
  html,
  tp-yt-paper-tooltip .tp-yt-paper-tooltip[style-target="tooltip"],
  yt-formatted-string[class$=-renderer],
  yt-formatted-string[class$=-renderer],
  ytd-active-account-header-renderer:not([enable-handles-account-menu-switcher]) #account-name[class$=-renderer],
  ytd-background-promo-renderer[renderer-style="adaptive-full-height"] .promo-body-text.ytd-background-promo-renderer:not([hidden])[class$=-renderer],
  ytd-background-promo-renderer[renderer-style="adaptive-full-height"] .promo-title.ytd-background-promo-renderer:not([hidden])[class$=-renderer],
  ytd-background-promo-renderer[renderer-style="full-height"] .promo-body-text.ytd-background-promo-renderer:not([hidden])[class$=-renderer],
  ytd-background-promo-renderer[renderer-style="full-height"] .promo-title.ytd-background-promo-renderer:not([hidden])[class$=-renderer],
  ytd-compact-link-renderer[compact-link-style="compact-link-style-type-history-my-activity-link"] #content-icon.ytd-compact-link-renderer[hidden] + #primary-text-container[class$=-renderer] > #label[class$=-renderer],
  ytd-grid-video-renderer #video-title.yt-simple-endpoint[class$=-renderer],
  ytd-guide-entry-renderer[active] .title[class$=-renderer],
  ytd-guide-section-renderer[guide-refresh] #guide-section-title[class$=-renderer],
  ytd-macro-markers-list-item-renderer[modern][layout="MACRO_MARKERS_LIST_ITEM_RENDERER_LAYOUT_VERTICAL"] h4[class$=-renderer],
  ytd-rich-grid-media[mini-mode] #video-title[class$=-media],
  ytd-rich-grid-slim-media[mini-mode] #video-title[class$=-media],
  ytd-rich-list-header-renderer[is-modern-sd] #title[class$=-renderer],
  ytd-rich-list-header-renderer[title-style="TITLE_STYLE_TYPE_CHANNEL_INLINE_RECS"] #title[class$=-renderer],
  ytd-text-header-renderer,
  ytd-video-meta-block[rich-meta] #byline-container.ytd-video-meta-block,
  ytd-video-owner-renderer[modern-metapanel] #channel-name[class$=-renderer],
  ytd-video-owner-renderer[watch-metadata-refresh] #owner-sub-count[class$=-renderer] {
    font-family: "Google Sans", var(--font-family-sans-serif);
  }

  ytd-app[mini-guide-visible] ytd-page-manager.ytd-app {
    margin-left: auto;
  }

  ytd-browse[mini-guide-visible] ytd-playlist-header-renderer.ytd-browse,
  ytd-browse[mini-guide-visible] ytd-playlist-sidebar-renderer.ytd-browse {
    left: 0;
  }

  ytd-mini-guide-renderer.ytd-app {
    display: none;
  }

  #info.ytd-video-primary-info-renderer {
    flex-wrap: wrap;
  }

  /* Playlist */
  @media (min-width: 876px) {
    ytd-two-column-browse-results-renderer[page-subtype="history"][has-secondary-column-data] #primary.ytd-two-column-browse-results-renderer {
      padding-right: 332px;
    }

    ytd-browse-feed-actions-renderer.ytd-two-column-browse-results-renderer {
      width: 275px;
    }
  }
}

/* Multiple sites */
@-moz-document url-prefix("http://router.asus.com"),
  url-prefix("https://vicchow.asuscomm.com"),
  url-prefix("https://192.168.1.1:8443"),
  domain("asusrt.home"),
  domain("backpackers.com.tw"),
  domain("pinboard.in"),
  domain("hkitalk.net") {
  * {
    font-family: var(--font-family-sans-serif) !important;
  }

  textarea {
    font-family: var(--font-family-monospace) !important;
  }
}

@-moz-document domain("developer.mozilla.org"), domain("trello.com"), domain("wikipedia.org") {
  .button,
  body,
  button,
  html,
  input,
  select,
  textarea {
    font-family: var(--font-family-sans-serif);
  }
}

/* All sites */
@-moz-document url-prefix("http:"), url-prefix("https:") {
  :root {
    --font-family-monospace: monospace;
    --font-family-sans-serif: sans-serif;
    --font-family-serif: serif;
  }

  /* Safari specific */
  @media not all and (min-resolution: .001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
      :root {
        --font-family-sans-serif: "Source Sans 3", system-ui, -apple-system, sans-serif;
        --font-family-serif: "Source Serif 4", serif;
      }

      body {
        font-family: var(--font-family-sans-serif);
      }
    }
  }
}
