/* ==UserStyle==
@name modify-hyperlink
@namespace vicchow
@version 2.0.4
==/UserStyle== */

/* 
 * Version number convention: <major>.<minor>.<patch>
 * <major>: new section
 * <minor>: new rule
 * <patch>: update on rules
 */
@-moz-document url-prefix("http:"), url-prefix("https:") {
  a, a *, u { text-decoration: none !important; }
  a:hover { text-decoration: none; /* filter: opacity(50%); */ }
}

@-moz-document domain("medium.com"), domain("medium.freecodecamp.org"), domain("uxdesign.cc"), domain("fredjame.com") {
  /* body.is-withMagicUnderlines .markup--anchor { background-position: 0 calc(1.19em) !important; } */
  body.is-withMagicUnderlines .markup--anchor { 
    border-bottom: 1px solid currentColor;
    background-size: 0 0 !important;
  }
}