/* ==UserStyle==
@name modify-hyperlink
@namespace vicchow
@version 2.0.1
==/UserStyle== */

/* 
 * Version number convention: <major>.<minor>.<patch>
 * <major>: new section
 * <minor>: new rule
 * <patch>: update on rules
 */
@-moz-document url-prefix("http:"), url-prefix("https:") {
  a, a *, u { text-decoration: none !important; }
  a:hover { text-decoration: none; /* filter: opacity(50%); */ }
}

@-moz-document domain("medium.com"), domain("medium.freecodecamp.org"), domain("uxdesign.cc") {
  body.is-withMagicUnderlines .markup--anchor { background-position: 0 calc(1.2em) !important; }
}