/* ==UserStyle==
@name modify-layout
@namespace vicchow
@version 10.0.10
==/UserStyle== */

/*
 * Version number convention: <major>.<minor>.<patch>
 * <major>: add or remove section
 * <minor>: add or remove statement/rule
 * <patch>: update selector or declaration of statement/rule
 */

/* Amazon */
@-moz-document domain("www.amazon.com"), domain("www.amazon.de"), domain("www.amazon.co.uk"), domain("awscli.amazonaws.com") {

  .s-underline-text,
  .s-underline-text.s-underline-link-text {
    text-decoration: none;
  }

}

/* ASUS router */
@-moz-document domain("asuscomm.com"), domain("asusrt.home.arpa") {

  /* Table header */
  .aimesh_node_category_bg,
  .FormTable thead td,
  .FormTable_table thead td {
    background: #66757C;
    ;
  }

  /* Left menu */
  .menu {
    height: auto;
    margin-top: auto;
  }

  .menuClicked {
    background: #376C9B;
  }

  .menu_QIS_title {
    background: #262626;
  }

  .menu_QIS_title:hover {
    background: #699BBF;
  }

  .statusTitle {
    background: #434343;
  }

  /* Button */
  .button_gen,
  .navigation li dt,
  .navigation li dt:hover,
  .titlebtn {
    background: #121C1E;
  }

  /* Tab */
  #tabs a {
    background: #92A0A5;
  }

  /* No round corner and shadow */
  .button_gen,
  .menu_Split,
  .NM_radius_bottom_container,
  .NM_radius_left,
  .NM_radius_right,
  .NM_radius,
  .NM_table,
  .statusTitle,
  .tab-block,
  .tab,
  .tabClicked,
  .titlebtn,
  #QIS_wizard_menu {
    border-radius: 0;
    box-shadow: none;
  }

  /* No background */
  .banner1,
  .bottom-image,
  .content,
  .minup_bg,
  .tableApi_table thead td {
    background: none;
  }

  /* No border */
  .m0_r,
  .menu_clicked,
  .menu_Split,
  .menu {
    border: none;
  }

  #ddnsHostName::before,
  #index_status::before {
    content: ' ';
    display: block;
  }

}

/* Bitwarden */
@-moz-document url-prefix("https://vault.bitwarden.com") {

  button.no-btn,
  .filter-buttons button,
  .filter-heading button {
    padding-top: 5px;
    padding-bottom: 5px;
  }

}

/* Books.com.tw */
@-moz-document url-prefix("https://myaccount.books.com.tw/myaccount/myaccount/getSystemMail") {

  .table-01 th,
  .table-01 td {
    padding: 5px 5px;
  }

  table th,
  table td {
    text-align: left;
  }

}

/* Google */
@-moz-document domain("www.google.com"), domain("www.google.com.hk") {

  .dRYYxd,
  .iblpc {
    height: auto;
  }

  .ISATce {
    line-height: 21px;
  }

  .eKPi4 {
    padding-bottom: inherit;
  }

  textarea.gLFyf,
  .YacQv {
    margin-bottom: auto;
  }

}

/* Google Docs */
@-moz-document domain("docs.google.com") {

  :not(.docs-title-save-label-disabled)>.docs-title-save-label-text-link {
    text-underline-offset: var(--underline-offset);
  }

}

/* HKiTalk */
@-moz-document domain("hkitalk.net") {

  .bm.bmw:not(#threadlist, .cl, .pl),
  .insert_ads,
  #ct>table>tbody>tr>td:nth-child(2),
  #nv_forum>table>tbody>tr>td:nth-child(2),
  body>table:first-of-type,
  table:has(+ table + br + br + br + br + div#ft, + br + br + br + br + div#ft),
  td.naclass2 {
    display: none;
  }

}

/* HSBC HK */
@-moz-document domain("www.hsbc.com.hk") {

  .link-card[_ngcontent-c60]:focus,
  .link-card[_ngcontent-c60]:hover .quickLinkText[_ngcontent-c60],
  .link-card[_ngcontent-c18]:hover .quickLinkText[_ngcontent-c18],
  .link-card[_ngcontent-c18]:focus .quickLinkText[_ngcontent-c18] {
    text-decoration: none;
    color: darkgrey;
  }

  .quickLinkText[_ngcontent-c60],
  .quickLinkText[_ngcontent-c18] {
    line-height: 2rem;
  }

}

/* Martin Fowler */
@-moz-document domain("martinfowler.com"), domain("refactoring.com") {

  body {
    margin: 0 auto;
    max-width: 1000px;
  }

}

/* Medium */
@-moz-document domain("medium.com"), url-prefix("https://500ish.com"), url-prefix("https://blog.bitsrc.io"), url-prefix("https://codeburst.io"), url-prefix("https://levelup.gitconnected.com"), url-prefix("https://itnext.io"), url-prefix("https://towardsdatascience.com"), url-prefix("https://uxdesign.cc") {

  article a {
    text-underline-offset: var(--underline-offset);
  }

}

/* Mozilla */
@-moz-document domain("developer.mozilla.org") {

  .about-container a:link,
  .about-container a:visited,
  .main-page-content a:link,
  .main-page-content a:visited {
    text-decoration: none;
  }

}

@-moz-document domain("hacks.mozilla.org") {
  @media all {

    .fancy-link,
    .article a:link,
    h3 a:link,
    h2 a:link {
      background-image: none;
      background-repeat: no-repeat;
      background-size: auto;
      background-position: inherit;
      text-underline-offset: var(--underline-offset);
    }

    abbr[title] {
      text-underline-offset: var(--underline-offset);
    }
  }

}

/* OpenRice */
@-moz-document domain("openrice.com") {

  .sr2-rms-container>.middle-col .normal-review-section>.content>.profile>.info>.review-sub-title a,
  .sr2-rms-container>.middle-col .normal-review-section>.content>.profile>.info>.review-sub-title span {
    vertical-align: inherit;
  }

}

/* Python */
@-moz-document domain("pypi.org") {

  a {
    background-image: none;
    background-position: inherit;
    background-repeat: inherit;
    text-decoration: none;
  }

  a:hover {
    background-image: none;
    text-decoration: underline;
  }

}

/* Rakuten Kobo */
@-moz-document domain("kobo.com") {

  .synopsis {
    line-height: 2.0rem;
  }

  .wishlist-page .wishlist-header .title {
    margin-top: 20px;
  }

  .wishlist-page .wishlist-item .image-and-info-container .title {
    line-height: 3rem;
  }

}

/* Steam */
@-moz-document domain("steamcommunity.com"), domain("steampowered.com") {

  div.bb_h1 {
    font-size: 12px !important;
    line-height: inherit !important;
  }

  .collectionItem .workshopItemTitle {
    padding-top: 6px !important;
  }

  .workshopItemShortDesc {
    font-size: 12px !important;
    padding-top: 8px !important;
    white-space: normal !important;
  }

  .wishlist_row .tag {
    line-height: 13px;
  }

}

/* The Economist */
@-moz-document domain("www.economist.com") {

  .ds-navigation-link span {
    border-bottom: 0.1rem dotted transparent;
  }

  .css-13gy2f5 ul li a,
  .css-13gy2f5 ol li a,
  .css-13gy2f5 .article__body-text-image>ol a,
  .css-13gy2f5 .article__body-text-image>ul a,
  .css-13gy2f5 .article__body-text a {
    border-bottom: 0.1rem dotted;
  }

  @media (min-width: 22.5rem) {

    .css-13gy2f5 ul li a,
    .css-13gy2f5 ol li a,
    .css-13gy2f5 .article__body-text-image>ol a,
    .css-13gy2f5 .article__body-text-image>ul a,
    .css-13gy2f5 .article__body-text a {
      border-width: 0.1rem;
    }

  }

}

/* YouTube */
@-moz-document domain("www.youtube.com") {

  ytd-app[mini-guide-visible] ytd-page-manager.ytd-app {
    margin-left: auto;
  }

  ytd-browse[mini-guide-visible] ytd-playlist-header-renderer.ytd-browse,
  ytd-browse[mini-guide-visible] ytd-playlist-sidebar-renderer.ytd-browse {
    left: 0;
  }

  ytd-mini-guide-renderer.ytd-app {
    display: none;
  }

  #info.ytd-video-primary-info-renderer {
    flex-wrap: wrap;
  }

  /* Playlist */
  @media (min-width: 876px) {
    ytd-two-column-browse-results-renderer[page-subtype="history"][has-secondary-column-data] #primary.ytd-two-column-browse-results-renderer {
      padding-right: 332px;
    }

    ytd-browse-feed-actions-renderer.ytd-two-column-browse-results-renderer {
      width: 275px;
    }
  }

}

/* All sites */
@-moz-document url-prefix("http:"), url-prefix("https:") {

  :root {
    --underline-offset: .15lh;
  }

  *,
  *:hover,
  a *,
  a,
  u,
  u:hover {
    text-decoration-style: dotted;
    text-underline-offset: var(--underline-offset);
    /* text-underline-position: under;
    text-decoration-skip-ink: all;
    text-decoration-thickness: from-font; */
  }

}