/* ==UserStyle==
@name modify-work
@namespace vicchow
@version 8.0.0
==/UserStyle== */

/*
 * Version number convention: <major>.<minor>.<patch>
 * <major>: new section
 * <minor>: new rule or update on section
 * <patch>: update on rule
 */

/* Microsoft Office and SharePoint */
@-moz-document domain("sharepoint.com"), domain("office.com") {

  .o365cs-topnavText {
    font-family: "SegoeUI-SemiLight-final", "Segoe UI SemiLight", "Segoe UI WPC Semilight", "Segoe UI", Segoe, Tahoma,
      Helvetica, Arial, sans-serif;
  }

  .ms-DetailsRow {
    width: 100%;
  }

  button {
    font-family: inherit !important;
  }

  div[data-item-key^="modifiedByColumn"],
  div[data-automation-key^="modifiedByColumn"] {
    width: 200px !important;
  }

}

/* Nexus */
@-moz-document domain("registry.talgroup.com"), domain("repo.talgroup.com") {

  body {
    font-family: sans-serif !important;
  }

}

/* Salesforce */
@-moz-document domain("talgroup.my.salesforce.com"), domain("visual.force.com"), domain("talgroup--c.vf.force.com") {

  * {
    font-family: sans-serif !important;
  }

}